[2017-10-11 15:18] tgm4883 opened #9 "Docker module shouldn't manage the EPEL repository (via the epel module)"
This is specifically an issue on RHEL/CentOS < 7 (Specifically, [this code](https://github.com/puppetlabs/puppetlabs-docker/blob/master/manifests/params.pp#L170) )

## Use cases:

1. A user uses another module to manage the EPEL repository that conflicts with the module that puppetlabs-docker requires. (As discussed in [this thread](https://github.com/stahnma/puppet-module-epel/pull/54#issuecommen

[2017-10-12 00:54] LongLiveCHIEF opened #10 "Commitment: 73 Merge Requests, 115 Issues, 154 contributors"
[garethr/docker](https://github.com/garethr/garethr-docker), previously the upstream source of the the internal `docker_platform` resource in puppet, was last released in July of 2016. Since that time, the community of users have [literally begged](https://github.com/garethr/garethr-docker/issues/699) for support. They've even submitted over 70 Merge Requests to fix the glaring issues that make th

[2017-10-12 02:21] bstucker opened #11 "Update Repo/Install on Centos to support new Docker versions"
Update install method on Centos to support latest versions of Docker CE past 17.0.5

Example install instructions for new repo is https://docs.docker.com/engine/installation/linux/docker-ce/centos/#install-using-the-repository

Not sure if its worth adding logic at the same time to add option for the edge/stable/test release

EDIT:  Same issue from garethr source https://github.com/garethr/garethr

[2017-10-12 04:52] kgeis opened #12 "metadata and readme differ on Centos 6 support"
metadata.json says that this module supports Centos 6.6 and 7.0. The readme says that it only supports 7.0.

[2017-10-12 21:56] scotty-c commented on #10
To answer this first question, Puppet now has full time staff working on this module. So me and the team will be more than happy to work with the anyone who has interest in this module. I am personally on the Puppet community slack (scottyc).

We are not looking at rebasing gareth's module. All development will now be done here.

Also we are not migrating any issues, in saying that we are addressi

[2017-10-12 21:56] scotty-c commented on #11
This is top of our list to fix in the next release.

[2017-10-12 23:24] LongLiveCHIEF commented on #10
I doesn't clear up _all_ the concerns, but it clears most of them, and the important ones at that. I for one am excited to hear this message, and will be happy to collaborate on improving the module.

[2017-10-12 23:24] #10 closed

[2017-10-13 04:30] mikemadden42 opened #14 "Clean up deprecations"
I get various warnings about deprecations when using the docker module.

[code]

[code]

[2017-10-13 09:04] Jeoffreybauvin opened #15 "docker::registry is called every time"
Hi there,

When using docker::registry, this resource is called at every catalogue.

A little hack :

[code]

[2017-10-13 19:02] robert4man opened #16 "docker-run.erb has service name hard-coded to docker.service"
This causes problems if/when setting package_name => 'docker-latest' and service_name  => 'docker-latest'. An easy workaround is to set restart => 'always' in docker::run_instance::instance, but I would like to use systemd restart specific docker instances without having to completely restart docker.

[2017-10-13 20:26] stefanlasiewski opened #18 "Changelog on the Puppet Forge is from garethr-docker v5.3"
The [puppetlabs/docker changelog](https://forge.puppet.com/puppetlabs/docker/changelog) is out of date, and doesn't show any notes newer than "2016-07-13 - Version 5.3". I imagine that's out of date. :)

See the attached screenshot:

![image](https://user-images.githubusercontent.com/142752/31564783-2ba4357a-b019-11e7-97c5-68c6c565548a.png)

[2017-10-13 20:36] dol commented on #18
I'm also interested in the changelog. I'd like to switch over to the 'puppetlabs/docker' v1.0.0 from 5.3.0. But without a proper update/changelog guide this might be a bit risky.

[2017-10-13 23:23] scotty-c commented on #16
Closing due to #17 being merged. Thanks for your contribution.

[2017-10-13 23:23] #16 closed

[2017-10-13 23:28] scotty-c commented on #18
The changelog has been updated to represent this modules and its new home. I am closing this issue now. Please re open it if you have any other questions around the changelog

[2017-10-13 23:28] #18 closed

[2017-10-13 23:30] scotty-c commented on #14
@mikemadden42 We will add a ticket internally to our next sprint to have a look at this.

[2017-10-13 23:32] scotty-c commented on #12
This has now been fixed. I am closing the issue, please feel free to re open it at any stage.

[2017-10-13 23:32] #12 closed

[2017-10-13 23:36] scotty-c commented on #9
We will add this into our next sprint or if you have code already written we are also accepting PR's

[2017-10-16 14:33] tgm4883 commented on #9
Thanks scotty-c, I don't have code written.

[2017-10-23 21:10] cl0sed opened #21 "docker service update and scale not working, easy fix inside"
**_docker service scale_**
Do not need to call docker_service_flags.rb function to compose service flags variable.
A simple fix is to change $exec_scale to "${docker_command} scale ${service_name}=${replicas}"

**_docker service update_**
docker_service_flags.rb checks if host_socket param is a string with value 'undef' and adds a flag with host_socket value if it is not. Since host_socket paramet

[2017-10-27 13:46] electrical commented on #15
Implemented this change at my work and solved the issue. Its to bad that the docker login process doesn't provide any functionality for checking.

[2017-10-30 17:40] BarnumD opened #26 "Support Windows"
Support installing docker and managing native windows containers on the windows server platform.

[2017-10-30 21:38] scotty-c commented on #26
@BarnumD We have this working coming up in a couple of sprints. So watch this  space

[2017-10-31 22:51] LongLiveCHIEF commented on #9
I already have code written for this, but it's only compatible hiera v5. What is this module's intent in terms of  supporting EoL versions of puppet/hiera?

[2017-10-31 23:01] LongLiveCHIEF commented on #15
You can check the `~/.docker/config.json` for an `auths` block. Every key in this block is a registry that is logged into.  This could be a means by which the docker puppet module knows hows to execute a login.

[2017-11-01 02:37] davejrt commented on #11
This is actively being worked on in the current sprint

[2017-11-01 02:51] scotty-c commented on #9
@LongLiveCHIEF This module will only support the versions we do at Puppet. So puppet 4 and above.
We will still need to support Hiera 3 as most customers have not moved to 5 yet

[2017-11-01 02:56] scotty-c commented on #11
We are also updating the Ubuntu/Debian repos as part of this issue as well.

[2017-11-01 08:59] electrical commented on #15
@LongLiveCHIEF
You can check that yeah but you will never be able to compare the hash with the actual details. If for example you change the login details in puppet, it won't change it in the file.

The proposed solution by TS at least allows for a comparison using the puppet file parts.
At my work we implemented it and works as expected so far.

[2017-11-03 19:49] jeefberkey opened #30 "On CentOS 7.4, the default docker group is `dockerroot`"
It is set to `docker` in params, but it is `dockerroot` on my EL7.4 vagrant image (centos/7).

Setting `docker_group` to 'dockerroot` is a functional workaround, so the default can simply be changed for EL7.

[2017-11-07 08:51] scotty-c commented on #9
This will be fixed in PR #31

[2017-11-07 08:53] scotty-c commented on #11
There is a PR up for review for this issue #31

[2017-11-08 11:52] markvr opened #33 "Remove containers"
Once a container is started with `docker::run` is there anyway to stop and remove it?  I can't see anything in the docs, I imagine something like:

    docker::run{'service':
      ensure => absent
    }

Which should stop and remove all the associated systemd services etc as well.

Even better would be a `purge` option on the main class that automatically removed any containers that weren't speci

[2017-11-09 06:38] scotty-c commented on #9
PR #31 is now in master, we have some other changes we would like to add before the next release.

[2017-11-09 06:41] scotty-c commented on #11
PR #31 is now in master, we have some other changes we would like to add before the next release.
So it will be published on the Forge with that release.

That release will be next week sometime

[2017-11-10 21:52] natemccurdy commented on #15
I've opened a ticket in Puppet's ticketing system here: https://tickets.puppetlabs.com/browse/MODULES-5988

[2017-11-12 14:29] davejrt commented on #33
Hi Markvr

You're correct in saying this functionality doesn't exist. We will create a ticket and look at adding this functionality in an upcoming release.

[2017-11-13 08:58] davejrt commented on #30
Hi

Can you just clarify exactly what the desired behaviour you're after is? It's not clear from your comments above whether the default group `docker` is being applied or the case statement is being evaluated incorrectly and `dockerroot` is being applied.

[2017-11-13 14:56] joshbrw opened #38 "linux-image-extra not available on AWS server"
Error:

[code]

I've temporarily patched this by setting `$manage_kernel => false`, but seems to be an issue.

[2017-11-13 15:57] jeefberkey commented on #30
In the module as it is, `docker` is being set as a smart default for the `docker_group` param. On the newer versions of CentOS (7.4 as tested), the correct group has been changed to `dockerroot`. The following snippet is how I have configured the module on my box using the RedHat vendored docker packages:

[code]
On second thought, you probably shouldn't do this because you can't tell where the pa

[2017-11-13 15:57] #30 closed

[2017-11-14 07:49] Vanuan opened #39 "Swarm mode token"
The documentation of a swarm mode setup seems to be missing something important.
It looks like to manage swarm with puppet I need to provision a token.
But to get the token I need to go to the manager node and type `docker swarm join-token -q`, copy the output and paste it into puppet?

Am I missing something? Or there's some automated way to do that?
What I would expect is this:

[code]

Is there

[2017-11-14 13:22] davejrt commented on #39
Hi

We'll be handling this in an upcoming release, but for now we don't have a supported method of doing this.

[2017-11-15 10:19] scotty-c commented on #15
This has been merged to master in PR #40

[2017-11-15 10:19] #15 closed

[2017-11-15 10:20] #9 closed

[2017-11-15 10:20] #11 closed

[2017-11-15 10:20] scotty-c commented on #21
This is now merged to master

[2017-11-15 10:20] #21 closed

[2017-11-15 12:44] hex2a opened #42 "APT dependency cycle"
there is a dependency cycle which seems to be caused by this line, as the `apt::source` docker requires a package, which would be installed after `apt::update`, which requires `apt::source`..
https://github.com/puppetlabs/puppetlabs-docker/blob/148ce5e16407eb3c40415ed2d44090dcfdb16734/manifests/repos.pp#L27

formatted output:
[code]

[2017-11-15 12:51] hex2a commented on #42
this is similar to #369,
I'd submit a PR to remove the `require` relationship and add information in the README instead.

@scotty-c what do you think about this?

[2017-11-15 13:18] scotty-c commented on #42
@hex2a I have just tested the module and was unable to replicate this issue.
Are you able to share code examples so we can replicate the issue?

[2017-11-15 14:08] hex2a commented on #42
[code]

the `$required_packages` param was removed from `apt::source`, stating that those packages should already be installed on a Debian base system.
https://github.com/puppetlabs/puppetlabs-apt/pull/427#issuecomment-75166159

[2017-11-16 04:25] RXM307 opened #43 "Unable to Apply Engine Labels"
/modules/docker/templates/etc/sysconfig/docker.systemd.erb
  Line: 25
  Detail: undefined method `each' for "[owner=blah, myservice=1, role=myrole]":String
 at /etc/puppetlabs/code/environments/test/modules/docker/manifests/service.pp:193:18

Similar to $dns should be able to set the docker.systemd.erb template as
<% if @labels %><% @labels_array.each do |label| %> --label <%= label %><% end %><%

[2017-11-16 17:02] davejrt commented on #42
We've tested this internally on debian 9 and can't replicate the behaviour. Are you including apt somewhere else in your puppet catalog? If so, there's a param `use_upstream_package_source` which will stop the docker module installing any other packages.

If this doesn't solve the problem can you provide a full code example, the version of debian, the specific version of the module and the version

[2017-11-16 22:09] RXM307 commented on #43
Fixed and tested in my Fork https://github.com/RXM307/puppetlabs-docker, Please Merge.
Still need to investigate why settings are being applied to /etc/sysconfig/docker instead of /etc/sysconfig/docker-latest though

[2017-11-17 07:57] scotty-c commented on #43
@RXM307 can you please raise a PR for the changes.

Thanks in advance

[2017-11-17 09:00] mirogta opened #45 "`docker daemon` is not supported on Linux. Please run `dockerd` directly error on RedHat Linux"
Hi,

We are running **Puppet 4.10.5** on **RHEL7.3** (Linux 3.10.0-693.5.2.el7.x86_64 # 1 SMP Fri Oct 13 10:46:25 EDT 2017 x86_64 x86_64 x86_64 GNU/Linux)

Using **puppetlabs-docker version 1.0.1**
and this Puppet code:
[code]
* the proxy value is read from hiera (this bit works)
* the repo_opt has to be there, otherwise we get another errors (`Error: Execution of '/bin/yum -d 0 -e 0 -y --enablere

[2017-11-17 15:11] davejrt commented on #45
Hi

Thanks for the amount of info you've provided. Can you please run `yum repolist` on the system, and it might be worth checking in `/etc/yum.repos.d/redhat.repo` to see if that repo has a definition at all.

Secondly, what version docker is this installing?

[2017-11-17 15:16] hex2a commented on #42
I'm able to reproduce it using Debian 9.1 (Vagrant Box `debian/contrib-stretch64` virtualbox, 9.2.0) and puppet `4.8.2-5` from the Debian repos.

The issue is not in the module per se, but occurs if the (somewhat common) pattern (as above) is used.
[code]

[2017-11-17 15:23] mdwheele commented on #45
I *just* ran into this and decided to override `repo_opt` to resolve. In my case, `Package[docker]` was not installed. I wonder if in this issue, the package is coming from another repository (not RedHat?) a `yum info docker-engine` would tell.

This is what I ended up using and it works great on RHEL 7.3 / 7.4 (only versions I tested):

[code]

Not to take this issue off-track, but would the proj

[2017-11-17 15:24] jeefberkey commented on #45
Does setting `service_overrides_template` to false work for you?

[2017-11-17 15:25] mdwheele commented on #39
Does the project keep a public sprint backlog or anything to judge when features like this are coming? I would be super willing to help contribute a feature like this if there weren't already resources applied within your team.

[2017-11-17 16:02] davejrt commented on #39
We don't have any public facing sprint backlog, but as of release 1.0.2 we now support puppet tasks to do some of this for you. Unfortunately at this point we still don't have a secure way of dynamically getting this as part of a catalog run.

But we are more than happy to take PRs on this module and work with the community to meet their needs.

[2017-11-17 16:05] davejrt commented on #45
We are more than happy for the community to submit PRs to fix these sorts of issues.

As a side note in my testing I noticed that when using rhel 7.0 this wasn't an issue, but after upgrading the same test instance to 7.4 that the `/etc/yum.repos.d/redhat.repo` file was empty.

[2017-11-17 16:54] mirogta commented on #45
@davejrt
```yum repolist```

[code]

```cat /etc/yum.repos.d/redhat.repo```

[code]

[2017-11-20 03:23] RXM307 commented on #43
Pull Request #48 Raised, will raise another issue for the sysconfig issues with some patches

[2017-11-20 04:09] RXM307 opened #49 "$service_name not correctly setting sysconfig locations"
Somewhat Related to Issue #43

If you use docker-latest package
ie.
[code]

This does not set $service_config correctly as this is hardcoded in params.pp depending on which distro your running
ie.
[code]

Should this logic be moved from params.pp to service.pp and set as variables?
ie.
[code]

or is it acceptable that you need to declare this?
ie.
[code]

[2017-11-20 14:52] mirogta opened #50 "Change package manager from 'rpm' to 'yum' for RedHat"
Hi,

When docker is installed in install.pp on RedHat (RHEL7.3) and `package_source` is defined, then it's using 'rpm' as a package manager - see:

https://github.com/puppetlabs/puppetlabs-docker/blob/9f9b0aeb2660b0a1faaeddcedc58dc45e4129daf/manifests/install.pp#L77

Unfortunately it seems that rpm does not install dependencies (unlike 'yum') and produces the following error:

[code]

Cheers,
Miro

[2017-11-20 21:13] guimaluf opened #51 "Can't declare more then one docker::secrets in the same catalog"
When declaring more then two `docker::secrets` resources the module will throw an error like this

[code]

This happens because `exec` statement doens't  include `$title` in its name.
I'm managing to fix this and will submit a PR soon

[2017-11-20 23:21] guimaluf opened #53 "Can't pass multiple env parameters to docker::services"
env parameter on  `docker::services` is set to String. In that manner isn't possible to define multiple --env parameters

[2017-11-20 23:33] guimaluf commented on #51
I can't declare multiple docker::services neither

[2017-11-21 00:02] guimaluf commented on #53
Can't pass multiple label parameter neither

[2017-11-21 00:17] #51 closed

[2017-11-21 00:19] #53 closed

[2017-11-21 00:29] davejrt commented on #50
Hi

Can you provide me with your node definition, anything in hiera you might be using and the output of `facter os` and the version of puppet you're using.

[2017-11-21 03:17] RXM307 commented on #53
@guimaluf labels should have been from commit f316b33

[2017-11-21 03:43] davejrt commented on #49
Hi

Based on what I can tell, you've got an internal repo in which you're hosting packages called docker-latest instead of docker-engine or docker-ce.

We've had a discussion internally and at this stage don't think this is a pattern we want to support in the module. If this becomes a more common we request we may revise that decision but for now we think the best practise is to follow the package

[2017-11-21 10:39] guimaluf commented on #53
@RXM307 docker::service**s**

[2017-11-21 20:12] scotty-c commented on #42
I am closing this issue as there is a workaround for the above workflow setting `use_upstream_package_source => false,` which is how the module should work by design.

[2017-11-21 20:12] #42 closed

[2017-11-21 20:14] scotty-c commented on #39
This is now released in the latest version on the forge https://forge.puppet.com/puppetlabs/docker

[2017-11-21 20:14] #39 closed

[2017-11-22 05:21] RXM307 commented on #49
@davejrt docker-latest are the name of the slightly newer versions of docker packages from the Redhat Extra repo

https://access.redhat.com/articles/2317361

[2017-11-22 18:18] bradeales opened #56 "Uncomment TMPDIR= for rhel 7 machines"
`TMPDIR=` is commented out in `templates/etc/sysconfig/docker.systemd.erb`, which means any supplied path is not used.

See:
https://github.com/garethr/garethr-docker/pull/733

[2017-11-23 04:12] scottpecnik opened #57 "docker-engine install not working on RHEL 7"
Hey Guys,

We're seeing an issue with this mod (we think) after issue #31 was merged in.  We're running RHEL 7.4 and unfortunately docker-engine 1.12.6.  The issue that just started occurring is with installing docker.  Below is our puppet code (note that we recently switched to this mod from garethr/docker):

[code]

With version 1.0.2 of this mod we see the following in our puppet reports:

[cod

[2017-11-27 02:45] davejrt commented on #57
Fixed in PR #59

[2017-11-27 02:45] #57 closed

[2017-11-27 02:45] davejrt commented on #56
Fixed in PR #58

[2017-11-27 02:45] #56 closed

[2017-11-27 22:24] jeefberkey opened #62 "docker::registry: Allow password to be provided as a hash"
`pw_hash` has issues with FIPS systems ([MODULES-6135](https://tickets.puppetlabs.com/browse/MODULES-6135)), so I would like to be able to provide a password as a hash to skip the `pw_hash` function.

The line https://github.com/puppetlabs/puppetlabs-docker/blob/master/manifests/registry.pp#L71, which specifies SHA-512, still fails on `pw_hash` (weird).

My test environment can be replicated by cl

[2017-11-28 09:41] scotty-c commented on #62
Hi @jeefberkey,
This seems to be a fringe use case. We won't be prioritising this into the next few sprints. In saying that we are more than happy to look at a PR if you would like to raise one.

[2017-11-28 16:54] jeefberkey commented on #62
No problem, I will see what I can come up with.

[2017-11-28 18:55] tpdownes commented on #42
@hex2a This is what I do to avoid a cyclic dependency with this module and with repos that I manually manage with the Debian 9 flavor of `puppetlabs-apt`:

[code]
I also do things like this in modules that I've written that internally manage a repo (like Docker). Here is one called `cvmfs`
[code]
This relies on the fact that the module name is applied as a tag to all the resources within.

[2017-11-28 18:58] #62 closed

[2017-11-28 19:58] davejrt commented on #33
This was added in PR #61

[2017-11-28 19:58] #33 closed

[2017-11-28 20:31] #43 closed

[2017-11-28 22:45] madisonleavo opened #64 "Unknown resource type: 'apt::source'"
This is my first go at using managing Docker with Puppet, so I could be doing something obviously wrong! But, when trying use/setup docker on Ubuntu 16.04 client I get:
[code]

Puppetfile:

[code]

Manifest common.pp:
[code]

[2017-11-28 23:29] #49 closed

[2017-11-28 23:38] davejrt commented on #64
Hi

At this point the docker module has a dependency on apt 2.1.0

`"dependencies": [
    {"name":"puppetlabs/stdlib","version_requirement":">= 4.1.0"},
    {"name":"puppetlabs/apt","version_requirement":">= 2.1.0"},
    {"name":"stahnma/epel","version_requirement":">= 0.0.6"}
  ],`

We are working on removing this to an up to date version however for the time being you'll need to use v 2.1.0

[2017-11-29 00:07] davejrt commented on #64
Hi

apt 3.0.0 has a dependency on stdlib (>= 4.16.0 < 5.0.0), so I'd suggest validating that before looking any further at the docker module.

[2017-11-30 19:13] madisonleavo commented on #64
Thank you! I fixed the version numbers and that did not help my error.

I'm using the latest Docker version 17.09.0~ce-0~ubuntu and I think what ended up being the issue was   I needed to manually set some params--I couldn't just `include docker`

The key for me was setting param `use_upstream_package_source => false,` that fixed the error `Unknown resource type: 'apt::source'`

But then other err

[2017-11-30 22:56] davejrt commented on #64
I've just tested this with the following puppetfile
`#!/usr/bin/ruby env

require "socket"
$hostname = Socket.gethostname

forge 'http://forge.puppetlabs.com'

mod "puppetlabs/inifile",     '1.5.0'
mod "puppetlabs/stdlib",      '4.16.0'
mod "puppetlabs/concat",      '2.1.0'
mod 'puppetlabs-docker', '1.0.2'
mod 'puppetlabs-apt', '3.0.0'
mod 'stahnma-epel', '1.3.0'`

with `include docker`

On the `p

[2017-12-01 14:01] madisonleavo commented on #64
Thanks so much for your time and advice! I will join.

[2017-12-01 14:01] #64 closed

[2017-12-04 12:51] guimaluf opened #66 "Dependency cycle with repository config"
I'm trying to investigate better what may causing this cycle. This happens with other profiles interactions. Seems like something relate with `Exec['apt-update'] -> Package <||>` but I'm not sure.
If any additional information is needed please let me now
[code]

![cycles](https://user-images.githubusercontent.com/3178490/33553267-29a4e4b0-d8df-11e7-8e32-714e371052b9.png)

I'm using puppetlabs/apt

[2017-12-04 17:29] guimaluf commented on #66
After upgrading puppetlabs/apt to 4.4.1
[code]

[2017-12-05 03:19] scotty-c commented on #66
@guimaluf What OS is this happening on?

[2017-12-05 11:27] hex2a commented on #66
#42

[2017-12-05 11:37] hex2a opened #68 "docker::registry fails if $version is not explicitly set"
puppet version: **4.10.9**
module version: **1.0.2**

[code]

`$version` is set to `undef` in params.pp:
https://github.com/puppetlabs/puppetlabs-docker/blob/master/manifests/registry.pp#L43
https://github.com/puppetlabs/puppetlabs-docker/blob/master/manifests/params.pp#L6

[2017-12-05 15:35] guimaluf commented on #66
@scotty-c Ubuntu 16.04
I'll try #42 proposed solutions

[2017-12-05 23:24] davejrt commented on #68
Can I get some more information, including your OS, manifest, any hiera entries your passing in? As well more of the log file run in debug/verbose.

We cover off this scenario in our acceptance tests and I can't replicate in a quick local test.

[2017-12-06 12:30] drscre opened #70 "Unable to locate package linux-image-extra-4.4.0-1041-aws on Amazon EC2 Ubuntu 16.04"
I am trying to install docker on Amazon EC2 machine which is launched from Ubuntu 16.04 ami, but get the following error:

`Unable to locate package linux-image-extra-4.4.0-1041-aws`

This happens because there is no such package for AWS Ubuntu 16.04 kernel.
Even more, this package is not required, because aufs driver was moved to the linux-aws kernel package itself (https://github.com/docker/dock

[2017-12-06 20:15] shamil commented on #70
set `manage_kernel => false`

[2017-12-07 14:24] ace13 opened #72 "Don't break systemd::dropin_file for Docker"
With the docker module in place, attempting to add a systemd dropin file like;
[code]

Will cause compilation errors like;
`Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: Evaluation Error: Error while evaluating a Resource Statement, Evaluation Error: Error while evaluating a Function Call, Duplicate declaration: File[/etc/systemd/system/docker.service.d] is alre

[2017-12-07 14:34] drscre commented on #70
I ended up using `manage_kernel => false`
Will close this issue because it seems there is little sense in trying to automatically detect whether we are running on aws kernel or not

[2017-12-07 14:34] #70 closed

[2017-12-07 16:17] oryagel opened #73 "Is it possible to set "registry-mirrors" for Docker daemon?"
Is it possible to use registry-mirrors with this module?

From the docs:
```Either pass the --registry-mirror option when starting dockerd manually, or edit /etc/docker/daemon.json and add the registry-mirrors key and value, to make the change persistent.```

https://docs.docker.com/registry/recipes/mirror/#configure-the-docker-daemon

[2017-12-07 19:46] davejrt commented on #73
Hi

We'll create a ticket for this and look at supporting it in an upcoming release. If this is something you require urgently we're more than happy to take PR's on this module from the community.

[2017-12-07 20:10] davejrt commented on #72
Hi

I'll review this with the team and see what we can come up with.

[2017-12-08 01:03] #72 closed

[2017-12-08 08:56] ace13 commented on #72
Worth noting is that [their implementation](https://github.com/camptocamp/puppet-systemd/blob/master/manifests/dropin_file.pp#L50-L56) already uses `ensure_resource`, so perhaps the `if ! defined` pattern might be better applied against this module.
[code]

[2017-12-11 15:32] pezzak opened #74 "The modification of the docker-compose file does not affect running services"
In case of changing the service image or removing service in docker-compose file puppet module does not apply changes.
[code]

[2017-12-12 00:21] #74 closed

[2017-12-12 00:38] jarretlavallee commented on #68
This can be seen on Ubuntu 16.4 and 14.04 when using docker::registry. The agent fails [here](https://github.com/puppetlabs/puppetlabs-docker/blob/master/manifests/registry.pp#L53) when comparing the Undef `version` parameter as `$version =~ /1[.][1-9]0?/`.

Below is the output from 1.0.2:

[code]

[2017-12-12 07:54] scotty-c commented on #66
@guimaluf Did #42 fix your issue?

[2017-12-12 07:55] scotty-c commented on #50
Closing issue due to no activity. If this issue is still valid, please reopen it

[2017-12-12 07:55] #50 closed

[2017-12-12 14:33] mpepping opened #77 "Unknown variable: 'docker::docker_ee_key'"
puppetlabs/docker:1.0.2 logs a warning on `docker::docker_ee_key` during compilation.

[code]

https://github.com/puppetlabs/puppetlabs-docker/blob/master/manifests/init.pp#L543

[2017-12-12 15:58] mirogta commented on #50
Could you please change the default package manager for RedHat from 'rpm' to 'yum'? I appreciate that you want to make the module generic and there might be reasons not to do that, but we have discussed this within our company and everybody uses yum, nobody uses rpm.

Why would you assume that when I'm using an alternate package_source, then I'm taking care of the other dependencies elsewhere in t

[2017-12-12 21:50] davejrt commented on #77
Thanks for your contribution

[2017-12-12 21:50] #77 closed

[2017-12-12 22:28] davejrt commented on #68
I'm still yet to find a scenario where I can replicate this. Can you send me your node defintion? If I install the module like so, I can't replicate that behaviour. This is on Ubuntu 16.04 and centos 7

`  class {'docker':}

  docker::run {'registry':
    image => 'registry',
    pull_on_start => true,
    ports         => '5000:5000',
    volumes       => '/tmp/registry-dev',
  }

  docker::regis

[2017-12-12 23:27] jarretlavallee commented on #68
@davejrt Thanks for looking into this. It only occurs when `docker::registry::username`, `docker::registry::password` and `docker::registry::email` are not Undef. Using your example with the `email` parameter, I am able to reproduce the issue. In looking at the code, it looks like it is not dependent on the OS, so it should occur on Centos too.

[code]

Outputs the following.

[code]

[2017-12-13 00:43] davejrt commented on #68
OK cool

So I suppose the assumption made when developing this was, that you wouldn't be passing email without defining the version, because this flag was deprecated after docker v1.10.

So I would expect that if you're not using an older version, and we changed the logic to say
`    if $username != undef and $password != undef and $email != undef and ( $version =~ /1[.][1-9]0?/ or $version != und

[2017-12-13 00:56] jarretlavallee commented on #68
Ok, that makes sense. For users that may still have the email parameter defined and upgrade the module, it will fail with the comparison error. Do you think we could add the `$version != undef ` and a warning about the deprecation of the email parameter?

Thanks!

[2017-12-13 10:37] davejrt commented on #68
We've had an internal discussion and we are going to leave the code as is, but we'll add specific code examples to the README for this define type, as well as a link to the docker change log as a reference.

Feel free to reach out on the puppet slack if you'd like to discuss further

[2017-12-13 10:37] #68 closed

[2017-12-15 01:03] davejrt commented on #38
Apologies for the delay in getting back to you. We'll look into fixing the logic for this in an upcoming release.

[2017-12-19 16:22] dmcanally opened #84 "swarm legacy (docker 17.05) package regex doesn't match package pattern for centos"
The package available from docker for centos 7 is...

17.05.0.ce-1.el7.centos

due to this, the regex at line 540 in init.pp needs to be updated...

https://github.com/puppetlabs/puppetlabs-docker/blob/d04b90dd00d92f89136bbb182b8295ddc18a56dc/manifests/init.pp#L540

`  if ( $version == undef ) or ( $version !~ /^(17[.]0[0-5][.]\d(~|-)ce|1.\d+)/ ) {`
I believe should be...
`  if ( $version == undef

[2017-12-20 00:44] davejrt commented on #84
Thanks for your PR @dmcanally

[2017-12-20 00:44] #84 closed

[2017-12-20 23:46] RXM307 opened #87 "unable to remove docker services"
as per the README I tried adding
    docker::services {'filebeat':
      ensure => 'absent',
      service_name => 'filebeat',
    }

but as it defaults to create = true in services.pp so I tried create => false but it still tries to create

    docker::services {'filebeat':
      create => false,
      ensure => 'absent',
      service_name => 'filebeat',
    }

Exec[Docker service create]/return

[2017-12-21 05:29] RXM307 commented on #87
after further testing it looks like you must specify

  create => false,

I accidentally had the docker::services specified twice in my manifest and it was only hitting the first occurrence.

if this is by design should the README be updated?

[2017-12-27 17:00] elimin8r opened #91 "add new fact to support worker/manager tokens"

[2017-12-28 08:03] scotty-c commented on #91
Hi @elimin8r we won't be adding this functionality as it poses a security concern you can get the managers token from a box that should not have access through it through a fact.

[2017-12-28 08:03] #91 closed

[2017-12-28 08:06] scotty-c commented on #87
Hi, @RXM307 this is by design, I have updated the README. Thanks for letting us know.

[2017-12-28 08:06] #87 closed

[2017-12-28 08:07] scotty-c commented on #66
Closing due to inactivity. Please reopen if you are having an issue

[2017-12-28 08:07] #66 closed

[2017-12-28 14:21] elimin8r commented on #91
Thats fine. Can you update the docs as the best practice to safeguarding
the tokens then. Right now you indicate to place them in the manifest as if
they weren't sensitive.

On Thu, Dec 28, 2017 at 3:03 AM, Scott Coulton <notifications@github.com>
wrote:

[2017-12-28 18:33] CAPSLOCK2000 opened #92 "No IPv6 support"
The Docker class doesn't support the IPv6-options to dockerd, such as --ipv6, --fixed-cidr-v6 and  --default-gateway-v6 . Fortunately the extra_parameters option provides a workaround. It would be nicer to configure IPv6 in the same place as IPv4. As fixed_cidr and default_gateway are supported I think the IPv6 equivalents should be added as well.

[2018-01-01 22:19] davejrt commented on #92
Hi

Thanks for bringing this up. We will look into it and work on getting it into an upcoming release otherwise we are more than happy to accept community PR's

[2018-01-02 17:43] gettek opened #94 "No Compose v.3 support"
Can we please add support for [Docker-Compose File Version 3.0](https://docs.docker.com/compose/compose-file/) and above?

`Error: Execution of '/usr/local/bin/docker-compose -f /media/data/docker-compose.yml up -d' returned 1: Version in "/media/data/docker-compose.yml" is unsupported. You might be seeing this error because you're using the wrong Compose file version. Either specify a version of

[2018-01-03 10:53] scotty-c commented on #94
@SuDT We have compose v3 support in stacks. What are you trying to deploy?
For reference here is the official Docker docs https://docs.docker.com/engine/swarm/stack-deploy/

[2018-01-03 17:31] SuDT commented on #94
In instances without swarm is using stack the recommended method? Previously I've used docker_compose (with deprecated module _docker_platform_) as below
[code]
It's only when switching to the new Puppet module coupled with compose.v3 that I face issues. This brings me to point out I had to specificity the docker version manually (as below) because when ran against Ubuntu 16.04 simply adding `incl

[2018-01-03 17:45] trevor-vaughan opened #98 "docker_socket should be tied to docker_group by default"
If you look at the official docs for dockerd, you will see that there is a `group` setting for setting the permissions on the socket.

In the puppet module, there are separate `docker_group` and `socket_group` parameters that, in my mind, should be the same thing.

Could an explanation be provided as to why they are different and, if they should not be different by default, could `socket_group` be

[2018-01-03 22:25] davejrt commented on #94
Hi @SuDT

I've just tested using `include docker` on the puppetlabs ubuntu 16.04 vagrant box locally without issue.

[code]

Are you specifying a version of compose when you're trying to install it? The docker module, will by default install v 1.9.0 which is not compatible with compose v3. You need compose 1.10.0 or later.

[2018-01-04 13:17] SuDT commented on #94
Thank you for the update @davejrt

This seems to be a docker upgrade from v1.12 to v17.0 issue,
[code]

I'll experiment with the compose manifest setting you provided once I find a fix.

[2018-01-04 13:17] HerveMARTIN opened #100 "Centos package obsoleted"
I tried to install docker-ce version 17.03.2.ce-1.el7.centos, but got this error :
[code]

I saw a solution that consist of adding this option to the yum install command :
[code]
How can i use this module to install this version properly in centos7?
This version is the latest one supported by kubernetes...

[2018-01-04 15:24] LongLiveCHIEF commented on #100
I'm working on a patch for this. It's targeted at my own fork of garethr-docker, but I intend to point it upstream here as soon as I can remove the hiera 5 data sources out of the overall design of my fork.

In the meantime, you may be able to gain some insight to solving your issue by checking out the diff in my branch: https://github.com/HackerHappyHour/hackerhappyhour-docker/compare/7-refactor-

[2018-01-04 16:05] HerveMARTIN commented on #100
Found a way by addind this line :
```repo_opt => '--setopt=obsoletes=0',```

[2018-01-05 01:08] davejrt commented on #100
@HerveMARTIN are you satisfied with that as a valid work around and have the issue closed?

[2018-01-05 02:05] davejrt commented on #98
Historically I'm not sure what the motivation was to have them separate and not set a default, but I'll look into it and provide feedback shortly

[2018-01-05 09:47] HerveMARTIN commented on #100
Yeah it's ok, the solution is not very clean but it doesn't concern this module.
The way docker is packaged in Centos is quite strange...

[2018-01-05 09:47] #100 closed

[2018-01-05 17:26] davideagle commented on #38
Any news on this bug, or a workaround other than $manage_kernel => false ?

[2018-01-06 17:08] LongLiveCHIEF commented on #45
I patched this in my own fork of garethr-docker (hackerhappyhour-docker, but my patch is designed to use Hiera 5. I'm working on back-patching it here.

I actually deprecated `use_upstream_package_source`, and I believe the same changes I made for _that_ are now available in this module.

[2018-01-06 17:15] LongLiveCHIEF commented on #45
Also, the service overrides don't currently work correctly. I fixed that also, but again, I used Hiera 5 , so yeah...

It looks like there is a `docker_engine_start_command` parameter now supported in this package, and you'll want to use that to solve this issue until `docker daemon` default is removed from this module.

[code]

[2018-01-06 17:19] LongLiveCHIEF commented on #38
@davejrt do we even need the `manage_kernel` switch anymore? I believe at this point it's only needed for  a combination of docker and operating system that I think this module would no longer even support.

[2018-01-06 19:33] LongLiveCHIEF commented on #38
Assuming the supported opertating systems shown in `metadata.json` is correct, then my PR #102 will take care of that.

[2018-01-06 19:57] LongLiveCHIEF commented on #98
This is going to depend on what socket you're using, and yes, it's valid that they _could_ be different depending on the configuration settings.

The `docker_group` is allowed to run `docker` commands without using `sudo`. This can be done even while the `socket_group` is `root`, allowing tighter security and control of the docker daemon, especially on `selinux` enabled systems.

If you make them

[2018-01-06 20:01] trevor-vaughan commented on #98
@LongLiveCHIEF Maybe I'm missing something. What docker commands are useful without being able to communicate with the socket? This may be pure user error on my part.

[2018-01-06 20:14] trevor-vaughan commented on #98
@davejrt The documentation is the dockerd command line docs at https://docs.docker.com/engine/reference/commandline/dockerd/#description

The `group` options is "Group for the unix socket" and `dockerd` does not connect to TCP or FD by default

Per the `Daemon socket option` section

If you want to prevent the ability to run `dockerd` commands, I suppose you could have the daemon listen to `127.0.

[2018-01-07 00:28] LongLiveCHIEF commented on #98
You're conflating socket ownership with the usage of the socket's clients.

the socket can be owned by root and still be communicated with by a
non-root user, depending on how access and commands are set up on the
system in question.

On Sat, Jan 6, 2018 at 2:01 PM, Trevor Vaughan <notifications@github.com>
wrote:

[2018-01-07 01:16] davejrt commented on #98
If you don't specify this, it defaults to docker anyway, and I agree with the logic that @LongLiveCHIEF has presented it here. I'm happy to set a the default in the module as you've suggested in your first comment @trevor-vaughan and give the user the ability to change it if they wish.

[2018-01-07 03:11] trevor-vaughan commented on #98
@davejrt Thanks, I think that will make everything more like users expect.

@LongLiveCHIEF Can you provide an example of this? I'm honestly not following.

From a system set up with the module where `vagrant` is in `docker_users` and the `docker_group` is set:

[code]

@LongLiveCHIEF In your opinion, what is the proper method for doing this without allowing write access to the socket and/or what s

[2018-01-07 10:06] mterzo opened #104 "Pdk update"
This module was created before the release of the PDK, are there any plans for moving this to using the PDK?

[2018-01-07 19:21] LongLiveCHIEF commented on #98
This module is still working on catching up on some things, and the daemon settings is a big one of these.
The daemon used to be tied to the `docker` client library, but this was broken out a while ago, and is now a completely different command.

In a simplified way of looking at it... `socket_group` is tied to `dockerd` command usage, whereas `docker_group` is tied to `docker` command usage.

[2018-01-07 20:47] scotty-c commented on #104
@mterzo we have already migrated the module to use PDK. What features are you missing?

[2018-01-07 21:17] mterzo commented on #104
Spec and rubocop tasks are not being executed in the ci pipelines.  Also missing the rubocop configurations.

[2018-01-07 22:04] davejrt commented on #104
@mterzo I'll chase this up and get back to you with a rough timeline.

[2018-01-08 01:19] mterzo commented on #104
I saw you added the spec task to rake.   There are lots of fixes to conform to rubocop.

[2018-01-08 15:57] vinayakbhat24 opened #106 "validate_re(): input needs to be a String"
Hi,

When I try to include docker in my init.pp I will get the following error:

     Puppet::PreformattedError:
       Evaluation Error: Error while evaluating a Function Call, validate_re(): input needs to be a String, not a NilClass at C:/Users/vibh/WORKDIR/my_docker/spec/fixtures/modules/docker/manifests/init.pp

Stdlib Version :4.24.0
Puppet version:  4.10.9

Thanks,

[2018-01-09 01:58] davejrt commented on #106
Can I get a bit more information like OS, module version etc.

Which line is it failing on?

[2018-01-09 11:59] krjensen opened #108 "Run fails if you have existing networks with no IPAM settings"
Hi,

If you use puppet to create networks, the run fails if you have an existing network created without any IPAM driver specified.

To fix this you have to change the compose from:
[code]
to
[code]

[2018-01-09 20:57] scotty-c commented on #106
@vinayakbhat24 can share your code with us, how are you including the Docker class

[2018-01-10 08:42] davejrt commented on #108
hi @krjensen can you please provide the following:

Puppet version
OS name/version
Code sample to reproduce the issue?

Thanks in advance

[2018-01-10 21:19] scotty-c commented on #104
@mterzo we will add a ticket in our backlog to look at the rubocop validation

[2018-01-10 21:29] mterzo commented on #104
I have most of the work done already.  Didn’t know if there was a reason you weren’t already doing it.

[2018-01-10 21:30] davejrt commented on #14
Fixed in PR #99

[2018-01-10 21:30] #14 closed

[2018-01-10 21:33] scotty-c commented on #98
closing due to #107 being merged

[2018-01-10 21:33] #98 closed

[2018-01-10 21:36] davejrt commented on #73
@oryagel just an update that this is being actively worked on this sprint

[2018-01-11 17:16] gettek commented on #94
So got the latest Docker and Compose versions working.

I still feel that Compose version 3 is not fully supported via this module as Puppet has trouble picking up my [.env file](https://docs.docker.com/compose/environment-variables/) but does pick it up after manual `docker-compose up -d` run

[code]
Am I missing something here? Is there a way to define compose env variables via the manifest such

[2018-01-12 01:25] davejrt commented on #94
@gettek if you're returning a fact and assigning it to a variable inside your compose file, would it not be an acceptable pattern to have the fact in your erb or epp template?

IE:

[code]

[2018-01-13 18:01] RussellMcOrmond opened #113 "Failed to fetch https://download.docker.com/linux/ubuntu/dists/trusty/InRelease Unable to find expected entry 'stable/binary-i386/Packages'"
The /etc/apt/sources.list.d/docker.list which this module creates is simple:

[code]

The problem is that there is no empty i386 list - there wouldn't be an i386 docker, but Apt still looks even though the arch is x86_64

If I add [arch=amd64] to force the architecture, all works well.

`deb [arch=amd64] https://download.docker.com/linux/ubuntu trusty stable`

This reference to the forced arch= is

[2018-01-15 03:35] davejrt commented on #113
fixed in PR #115

[2018-01-15 04:07] #113 closed

[2018-01-15 10:49] davejrt commented on #38
Fixed in PR #116

[2018-01-15 10:49] #38 closed

[2018-01-15 13:04] gettek commented on #94
Thank you @davejrt that will work,

Unfortunately I'll need to update my PuppetServer to take advantage of EPP as I'm still on 2.8 :-1:

Despite this I still think its useful to have the option to specify .env paths for compose v3, as you can with [containers](https://forge.puppet.com/puppetlabs/docker#containers)

Thanks all

[2018-01-15 13:04] #94 closed

[2018-01-15 13:23] davejrt commented on #94
@gettek Glad that's helped out. I agree that's a nice to have feature and definitely something we can consider on the roadmap for an upcoming release.

[2018-01-15 13:52] htj opened #117 "Huge module size in 1.0.4"
The 1.0.4 release grew a lot:

.../dist/puppet-modules$ ls -lh *.tar.gz
-rw-r--r--  1 htj  staff    67K Jan 12 14:26 puppetlabs-docker-1.0.2.tar.gz
-rw-r--r--@ 1 htj  staff   1.7M Jan 15 14:29 puppetlabs-docker-1.0.4.tar.gz

Looks like it includes several other modules:

$ ls puppetlabs-docker-1.0.4/spec/fixtures/modules/
apt    docker epel   stdlib

$ du -hs puppetlabs-docker-1.0.4/spec/fixtures/

[2018-01-15 13:59] htj opened #118 "Support for network in docker::run"
Hi

After getting support for docker::network in 1.0.4, it would be nice if one could do network in docker::run instead of using extra_parameters, e.g.:

docker::run { 'whatever':
  image     => 'whatever:1.2.3.',
  network  => [ 'whatever-internal' ]
}

[2018-01-15 20:11] davejrt commented on #117
I'll get this fixed in 1.0.5

[2018-01-15 20:39] scotty-c commented on #118
@htj you could always pass network in the extra params resource `extra_parameters => [ '--network=whatever-internal']`. Due to networking also being needed by swarm we needed to externalise the class. So this would the suggested solution.

[2018-01-16 08:04] htj commented on #118
I'm using extra_parameters right now, and it works. While extra_parameters is very nice to have in these situations, it does feel like a step to close to writing scripts. Having an external class for networking is fine, but it is such a common thing to have that a key in docker run would be warranted imho.

[2018-01-16 21:20] scotty-c commented on #117
closing due being fixed in release 1.0.5

[2018-01-16 21:20] #117 closed

[2018-01-16 21:37] davejrt commented on #73
Closed in PR #109

[2018-01-16 21:37] #73 closed

[2018-01-18 05:44] mcblum opened #119 "Cannot install"
Hello! Just started trying to make this work and I'm getting an error that I can't seem to decode.

[code]

Sort of a specific error so Google was no help. Any idea what this may be?

I'm on Ubuntu 16.04 LTS, fresh install and up to date.

Here's the code I'm using:
[code]

Thank you and please let me know if you have any ideas!

[2018-01-19 07:38] davejrt commented on #119
Hi @mcblum

What version of the module are you using? Can you confirm the template is present on your puppet server or instance if you're running masterless?

[2018-01-19 08:33] dhose opened #122 "Lookup of key 'lookup_options' failed: Data Provider type mismatch: Got String when a hash-like object was expected to access value using 'release' from key 'os.release.full'"
Hi,

Currenly we are using `garethr-docker` forge module, which works fine, but we are having issues with https://github.com/garethr/garethr-docker/issues/701, so therefore I'm in the process of changing to `puppetlabs-docker` instead.

Unfortunately I'm seeing an issue I have problem pinpointing. My test server is using only the `profile::docker` manifest with a Puppetfile just containing `puppet

[2018-01-19 09:53] scotty-c commented on #122
@dhose `package_ce_name` should be `docker_ce_package_name`
Can you please test with that change

[2018-01-19 10:07] davejrt commented on #122
@dhose by default the package name is set to `docker-ce` if you don't specify a version.

Your manifest should only require the following
[code]

[2018-01-20 09:30] scotty-c commented on #122
@dhose Does puppet complete a catalogue run if the Docker class is not applied to it?

[2018-01-20 09:59] dhose commented on #122
@scotty-c

Thanks for your answer!

Yes, it works if I comment out the Docker class in the manifest. As mentioned earlier we are also using `garethr-docker` in a different Puppet environment, and we are not seeing this issue there.

I'm going to start testing with different Puppet/Facter versions, if it is something there, in combination with this module, that triggers this issue.

Thanks again!

[2018-01-20 11:54] davejrt commented on #122
Does that facter value resolve when you run it on the server?

Dave

On Sat, 20 Jan 2018 at 8:59 pm, dhose <notifications@github.com> wrote:

[2018-01-20 12:53] dhose commented on #122
@davejrt @scotty-c

I tried the following:

[code]

I have also done some git bisecting and the first commit where this issue appears is https://github.com/puppetlabs/puppetlabs-docker/commit/9f9b0aeb2660b0a1faaeddcedc58dc45e4129daf.

I can see in this commit that a string parameter in `init.pp` called `$os` is introduced. I wonder if Puppet gets confused when there is also a Hash value in Facter

[2018-01-21 00:30] davejrt commented on #122
Can you provide a gist of the log output with verboe and debug turned on? I've just upgraded a vagrant box the the same kernel version as yours as run puppet without any issues.

If you remove the string type from the variable does the run then pass?

[2018-01-21 18:22] dhose commented on #122
@davejrt

I removed the string type from the `$os` variable, but no changes.

You can find a gist with verbose and debug logging enabled here:

https://gist.github.com/dhose/3d343fd56ee9a9bca42ceddb9017c748

Thanks again!

[2018-01-21 23:56] davejrt commented on #122
@dhose can you test the master branch now? I've just merged a change PR #123 to try and resolve your issue.

Dave

[2018-01-22 08:02] dhose commented on #122
@davejrt

Hi,

I just tried the master-branch. Great success, it works. I just had to add the `repo_opt` parameter to get a clean catalog run:

[code]

Thanks a lot for your help. 👍

[2018-01-22 08:14] davejrt commented on #122
@dhose thanks for persevering, and letting us know it solved the problem.

[2018-01-22 08:14] #122 closed

[2018-01-22 09:48] olivierHa opened #124 "Systemd escaping"
Hello,

As already reported in the "Issues " of gareth-docker ([#647](https://github.com/garethr/garethr-docker/issues/647) or [#432](https://github.com/garethr/garethr-docker/issues/432) there is an issue with complex run commands under systemd.

I ran into the same issue, while adding JVM_ARGS to a docker container,  for example
JVM_ARGS='-Xms2048m -Xmx2048m -XX:MaxDirectMemorySize=1g`

The patc

[2018-01-22 15:14] LongLiveCHIEF commented on #119
@mcblum I think the error 500 is usually related to environment misconfiguration or unavailability. It's possible there's nothing wrong with your manifest, but that your puppet agent is misconfigured, or not communicating properly with the puppetserver.

Usually, if you had some sort of error in your manifest, you'd see an error 400.  You could run `puppet parser validate` or if your project is a

[2018-01-22 15:20] mcblum commented on #119
@davejrt hey sorry I missed your comment - for some reason I didn't get a notification.

1. Using the latest version (1.0.4 I believe).
2. I've just checked and I see it there, right where it's supposed to be.

@LongLiveCHIEF Interesting - I'll double check. If I remove the `include docker` from the manifest the config runs and completes successfully. I'll run those commands to double check.

I'm

[2018-01-22 20:49] scotty-c commented on #124
closing due to #125 being merged

[2018-01-22 20:49] #124 closed

[2018-01-23 09:51] scotty-c commented on #104
closing due to #120

[2018-01-23 09:51] #104 closed

[2018-01-23 09:53] scotty-c commented on #118
@htj More than happy to look at a PR for this. Internally this is not something we will be looking at in the next few releases.

[2018-01-24 23:04] davejrt commented on #45
@mirogta are you still having issues with this module? Have you upgraded to 1.0.4 and are still seeing the problem? I've just gone back through your feedback and don't understand why the module would be installing a package docker-engine if you're not specifying the version to make sure it does that.

[2018-01-31 15:17] jeefberkey opened #133 "When using the RedHat distro of docker, docker_group is `dockerroot`"
Logic to fix this used to exist: https://github.com/puppetlabs/puppetlabs-docker/blob/defb08ff6238f0d014aef487f79d686e278a5d1b/manifests/params.pp#L212
but was removed.

Now it just assumes `docker` is correct, which it is not when `use_upstream_package_source` is set to false.

[2018-01-31 15:21] trevor-vaughan commented on #98
I would like to re-open this since it appears to have gotten reverted per #133

[2018-02-01 01:37] davejrt commented on #133
Fixed in PR #134

[2018-02-01 01:37] #133 closed

[2018-02-01 01:39] davejrt commented on #98
Fixed in PR  #133

[2018-02-01 12:29] HanzzM opened #137 "error while resolving custom fact"
Error: Facter: error while resolving custom fact "docker_client_version": undefined method `[]' for nil:NilClass
Error: Facter: error while resolving custom fact "docker_server_version": undefined method `[]' for nil:NilClass

[2018-02-01 13:24] Thorndike opened #138 "When are container scheduled for refresh?"
I am using puppetlabs-docker (v1.0.4) with puppet 4.10.9 on RHEL 7.4. My problem is that I can not figure out when containers are scheduled for refresh. If I change the docker::run configuration for some of many containers running on a host sometimes all running containers are scheduled for refresh (meaning restartet). I expect that restart for containers with changes in configuration but all othe

[2018-02-01 17:50] genebean opened #139 "Support docker plugins"
While reading https://vmware.github.io/vsphere-storage-for-docker/documentation/install.html I came across this chunk of code that I would like to automate via this module:

[code]

Since other installation and configuration of Docker is done via this module I figure this is a logical addition.

[2018-02-01 20:04] jaxxstorm opened #140 "package_name parameter no longer exists"
The `package_name` parameter seems to have vanished, and now there's some regex logic which detects the version number and then seems to make a decision about which package to install.

It should be possible to explicitly set the `package_name` and override the autodetects where possible.

[2018-02-02 01:09] davejrt commented on #140
Hi

You can set the package name via the `docker_engine_package_name` or the `docker_ce_package_name` depending on which version of the engine you're using.

Can you please provide more detail about which version you're using, and how?

[2018-02-02 02:10] scotty-c commented on #139
@genebean we will create a ticket in our backlog for this

[2018-02-02 09:12] Thorndike commented on #138
It seems the unexpected restarts of containers have something to do with this message:

`Notice: /Stage[main]/Logspout/Docker::Run[logspout]/File[/etc/systemd/system/docker-logspout.service]/seltype: seltype changed 'systemd_unit_file_t' to 'container_unit_file_t'
Info: /Stage[main]/Logspout/Docker::Run[logspout]/File[/etc/systemd/system/docker-logspout.service]: Scheduling refresh of Service[dock

[2018-02-02 22:36] jeefberkey opened #141 "Error in `docker` fact"
On CentOS 7 and Docker 1.12.6, I receive the following error:

[code]

I tried running the command in the fact `exec` section and got this error:
[code]

[2018-02-05 01:59] davejrt commented on #141
I'll bring this up internally and get someone to look at confining the fact to engine 1.13 and later.

[2018-02-05 14:02] jeefberkey commented on #141
It only results in a warning when puppet runs, not a failure or anything

[2018-02-05 18:25] esalberg opened #143 "Boolean vs String for dm_use_deferred_removal / dm_use_deferred_deletion"
Please see the comments on this PR:
https://github.com/puppetlabs/puppetlabs-docker/pull/99

The typing for dm_use_deferred_removal and dm_use_deferred_deletion was set to String, whereas we had assumed previously that those were Booleans (due to having true/false as options).  I'm assuming the String type was used because the defaults were set to undef (probably should have been false).

Is the S

[2018-02-05 19:41] stefanlasiewski opened #144 "String vs. Boolean for $selinux_enabled"
The description for $selinux_enabled implies that it's a boolean:

[code]

However, the code for selinux_enabled seems to be used as a string.

I found at least two sections which treat this boolean as a string:

https://github.com/puppetlabs/puppetlabs-docker/blob/43dcd50ef3dd536668f59fc253c6888404288a10/manifests/init.pp#L399

[code]

And https://github.com/puppetlabs/puppetlabs-docker/blob/43dc

[2018-02-05 20:49] sheenaajay commented on #143
thanks @esalberg @dol for valuable comment.Will get the fix soon for the following variables and update the spec tests accordingly.

[2018-02-05 22:12] MWilsonPuppet commented on #137
Hi @HanzzM Could you please provide some more information so I can take a look at this:
The version of the module you are using
The OS
The version of docker and puppet that you are using and a sample of your manifest  you are trying to run
thanks
Mark.

[2018-02-06 13:04] sheenaajay commented on #144
@stefanlasiewski Thanks for the detailed information.  PR is ready https://github.com/puppetlabs/puppetlabs-docker/pull/145

[2018-02-06 13:21] sheenaajay commented on #143
Thank you.The PR is ready with the fix https://github.com/puppetlabs/puppetlabs-docker/pull/145

[2018-02-06 13:58] sheenaajay commented on #144
@stefanlasiewski in init.pp used the data type Boolean for selinux_enabled and in params.pp used undef so it will continue to work in the same way.

[2018-02-06 13:59] sheenaajay commented on #143
dm_use_deferred_removal and dm_use_deferred_deletion use the data type Boolean in this PR

[2018-02-06 17:35] seriv opened #148 "Wrong repository name on RedHat"
I get in the output of puppet agent -t:

Error: Execution of '/usr/bin/yum -d 0 -e 0 -y --enablerepo=rhel7-extras install docker-ce' returned 1: Error getting repository data for rhel7-extras, repository not found

Adding

repo_opt => '--enablerepo=rhel-7-server-extras-rpms'

saves the run.

[2018-02-07 13:11] htj commented on #92
+1 for this.

If the docker host has v6, the source ip of an incoming request will be re-written to the gateway of the docker network, which is not really what one wants.

[2018-02-08 00:34] davejrt commented on #148
What version of RHEL are you running?

[2018-02-08 03:17] davejrt commented on #144
Fixed in PR #145

[2018-02-08 03:17] #144 closed

[2018-02-08 03:17] davejrt commented on #143
fixed in PR #145

[2018-02-08 03:17] #143 closed

[2018-02-08 03:39] #45 closed

[2018-02-08 03:39] #106 closed

[2018-02-08 04:06] davejrt commented on #92
We have a ticket in our backlog that will be actioned in this sprint or next.

[2018-02-08 04:06] #119 closed

[2018-02-08 08:03] Thorndike opened #151 "Wrong systemd access level on RHEL"
I am using docker plugin 1.0.4 on RHEL 7.4. In /var/log/messages the system is complaining about incorrect access levels to the puppet generated service files.

Feb  8 08:58:23 rhscpm015 systemd[1]: Configuration file /etc/systemd/system/docker-verzeichnisMock_inst1.service is marked world-inaccessible. This has no effect as configuration data is accessible via APIs without restrictions. Proceedin

[2018-02-08 09:19] davejrt commented on #151
I don't see this as being an actual issue, or presently any problem in functionality of docker or the module.

[2018-02-08 09:19] #151 closed

[2018-02-09 00:06] davejrt commented on #140
Closing as a valid solution is available in the module

[2018-02-09 00:08] davejrt commented on #118
Closing as this isn't on the puppet roadmap. Please submit a PR if you'd like this implemented as mentioned above

[2018-02-09 00:08] #118 closed

[2018-02-09 00:08] davejrt commented on #108
Closing due to inactivity

[2018-02-09 00:29] esalberg opened #152 "socket_group no longer undef by default"
This PR changed the socket_group default from undef (as documented in readme and init.pp) to a value.
https://github.com/puppetlabs/puppetlabs-docker/pull/107

When I try to upgrade the Docker module, it means that /etc/sysconfig/docker is changing and it will restart the Docker daemon across my hosts.  In theory, this shouldn't matter, but in practice, it's a big enough hassle for us that I'm for

[2018-02-09 00:46] scotty-c commented on #152
@esalberg The containerd shim should keep the containers running even if the daemon is restarted.
We have had multiple other community members asking for the change #98

[2018-02-09 01:00] jaxxstorm commented on #140
@davejrt I've set the docker_ce_package_name parameter, but because of the way the logic is defined, it's still installing the docker-engine package. I had to set `docker_engine_package_name` to the name of the docker ce package to get it working

[2018-02-09 02:53] davejrt commented on #140
Assuming you want the ce package, can you show me your manifest and a log file? The following executes as I'd expect it to

[code]

[code]

[2018-02-09 09:40] Thorndike commented on #138
New Info: I monitored the selinux labels of the service files and it seems that docker::run ist changing them both ways. I really have no clue how to tell the plugin to keep one and the same label for those files and do need some support here:

`Feb  9 10:22:27 rhscpm026 puppet-agent[5352]: (/Stage[main]/Main/Node[rhscpm026.ecofis.de]/Docker::Run[ctosso-mock]/File[/etc/systemd/system/docker-ctosso

[2018-02-09 12:00] HanzzM commented on #137
Version of the module is "1.0.5"
OS = RHEL7.4

[root@slid25020 ~]# puppet master --version
4.10.9
[root@slid25020 ~]# puppet agent --version
4.10.9

[root@slid25020 ~]# docker --version
Docker version 17.06.2-ee-6, build e75fdb8

[code]

[code]

[2018-02-09 14:06] HanzzM commented on #137
BTW, no problems with version "1.0.4"

[2018-02-09 14:36] HanzzM commented on #137
The problem is solved.
There was a conflict with the by ourselves written facter "docker-version".
We have removed our facter.

[2018-02-09 14:36] #137 closed

[2018-02-09 23:38] jacksgt opened #153 "Native read-only parameter for docker run"
Quite often, I'm finding myself having to pass `--read-only` as an `extra_parameter` to `::docker::run`, like so:
[code]
It would be great to have a 'native' parameter for this, i.e. `read_only => true`.

[2018-02-11 22:29] #153 closed

[2018-02-13 15:25] otdevops opened #155 "docker-compose pull support"
In a development environment, developers don't want to constantly change dev tags.  We are using a static dev tag on our images.  Puppet will not pull this updated image if it already exists.

Consider adding docker-compose pull ability to pull existing tags based on the newest images.

[2018-02-13 15:48] sigsegv11 opened #156 "Docker compose version is not recognized correctly and acceptance tests for compose v2 are disabled"
I noticed a strange error:

Diving a little deeper i found the issue, [a bad regex](https://github.com/puppetlabs/puppetlabs-docker/blob/master/lib/puppet/provider/docker_compose/ruby.rb#L19)

Then I wondered why it passed acceptance testing and turns out they were not run because of bad naming they should be named **compose_v2_spec.rb** instead of **compose_spec_v2.rb**

Fixing the test naming ma

[2018-02-15 21:06] #156 closed

[2018-02-15 22:41] davejrt commented on #155
Hi

At the moment this isn't a priority for us at the moment, as there are alternate ways to tag your images that would be a better practise, even in dev. Having said that, we're happy to look at community PRs to solve the issue.

[2018-02-15 22:53] esalberg commented on #152
It does if you have --live-restore in the docker sysconfig, but otherwise, from my testing, it does not.

We are working to roll out --live-restore anyway, so I'll do a short term fork to workaround this issue, but it does seem like a breaking change.  I don't really see why the other community members couldn't just override the undef.

At the very least, could the documentation be updated so that

[2018-02-15 23:19] davejrt commented on #138
Just to clarify the issue here, as I'm not 100% sure based on your initial question. That when you change the docker::run config for one container, all of them get restarted?

Is it or isn't?

Can you send me an example of your manifest before and after that's causing the errors?

[2018-02-16 15:51] alexjfisher opened #159 "docker::compose creates 0 byte /usr/local/bin/docker-compose-1.9.0"
If https://github.com/puppetlabs/puppetlabs-docker/blob/9ac570b3a1a3cf1a5f45a8a844b31f3413761401/manifests/compose.pp#L46 fails, it creates a 0 byte file and the download is not reattempted on the next puppet run.

Instead of redirecting stdout to a file, better to use curl's `-o` option?

[2018-02-16 21:51] fgabriel78 commented on #26
How is this feature going?

[2018-02-17 18:01] nikdoof commented on #148
The repo name may be correct if you've manually specified it in your yum.conf, but the RHSM delivered name for the extras repo is ```rhel-7-server-extras-rpms```

[code]

[2018-02-18 00:23] thatsk opened #161 "Readme.md files required to be add repo_opt for installation of docker on rhel based system"
On To use CE class packages:-
[code]
it should be look like this:
[code]

[2018-02-18 13:20] thatsk commented on #148
https://github.com/puppetlabs/puppetlabs-docker/issues/161

You can try this.

[2018-02-18 18:15] alexjfisher commented on #159
?? *if* the download fails you get a 0 byte file. Maybe your internet was temporarily down, your proxy was broken or even GitHub is temporarily unavailable. Curl fails but the exec leaves an empty file behind due to using redirection of stdout.

[2018-02-18 20:37] davejrt commented on #152
Documentation updated in PR #158

[2018-02-18 20:37] #152 closed

[2018-02-18 21:55] davejrt commented on #148
@nikdoof thanks for clarifying that. I'm assuming you also have this issue, but are manually working around it at this point? I'm just canvassing for community feedback because I'm surprised this hasn't been brought up more in the past. I can't see anything in the garethr module that we forked that relates to this.

[2018-02-18 22:01] davejrt commented on #161
You don't need to force the package name in this unless you're using a non-default. Depending on the version you'll end up with either docker-ce or docker-engine. The addition of an empty repo_opt is valid and it may be worth putting in logic to unset this of the `use_upsteam_package_source` is set to false and I don't see if being valid in any other scenario.

[2018-02-19 02:14] thatsk commented on #161
If we are not adding that option by default it can picking up from extras
repository which is not correct. So how you workaround it.

On 19-Feb-2018 3:31 AM, "davejrt" <notifications@github.com> wrote:

[2018-02-19 02:18] davejrt commented on #161
The following is a valid work around with the module in its current state, what you have proposed is technically correct but as I mentioned, you don't need to force the package name:

[code]

[2018-02-19 02:35] thatsk commented on #161
I agree but on cientos If I want to install what's you suggest to puppet
client user to use in hiera

On 19-Feb-2018 7:48 AM, "davejrt" <notifications@github.com> wrote:

[2018-02-19 02:39] davejrt commented on #161
Whether or not you're using hiera, it's irrelevant. The values remain the same, the hiera would just look like this:

If you're seeing an error with the config that I've supplied I'm happy to review the log.
[code]

[2018-02-19 02:48] scotty-c commented on #159
@alexjfisher we are using the curl command that is out of Docker's official install docs https://docs.docker.com/compose/install/#prerequisites

[2018-02-19 07:01] Thorndike commented on #138
Exactly that is my observation, I change on of the docker::run configurations on my master server an puppet restarts all defined containers on that node because puppet changed the selinux label of the systemd files in the background (I have puppet running as a service).

To my knowledge the manifest (pp files and classes) does not change and I was not able to determine where the definitions of the

[2018-02-19 08:42] alexjfisher commented on #159
@scotty-c Hi!  If you're manually running the command and it fails, you can rerun it.  The issue is that puppet won't.  It really isn't a massive deal, but equally, it's trivial to fix.  I was going to submit a simple PR.

I don't think the exact syntax in the docs is relevant, but... they were updated in August in this commit https://github.com/docker/docker.github.io/commit/4b851679759b334c58d89

[2018-02-19 10:26] #159 closed

[2018-02-19 12:46] mick1627 opened #163 "Syntax error in file ./spec/defines/stack.rb"
Hi

We have a script to check the module syntax before pushing the file on the puppetmaster.
There is a syntax error in the file stack.rb

ruby -c ./spec/defines/stack.rb
./spec/defines/stack.rb:29: syntax error, unexpected end-of-input, expecting keyword_end

[2018-02-19 20:53] scotty-c commented on #163
fixed in #164

[2018-02-19 20:53] #163 closed

[2018-02-20 05:56] #141 closed

[2018-02-20 06:33] Thorndike commented on #138
First, the current Versions of plugins I have installed:

`etc/puppetlabs/code/modules
├─┬ maestrodev-ant (v1.0.5)
│ ├── maestrodev-wget (v1.7.3)
│ └── puppetlabs-stdlib (v4.17.1)
├─┬ puppetlabs-apache (v2.3.0)
│ └── puppetlabs-concat (v2.2.1)
├── verzeichnis (???)
├── camptocamp-augeas (v1.6.0)
├── thias-sysctl (v1.0.6)
├── puppet-selinux (v1.5.2)
├─┬ puppetlabs-rsync (v1.0.0)
│ └── puppetlabs-xi

[2018-02-21 03:46] davejrt commented on #138
You can see this [log](https://gist.github.com/davejrt/1d6d66b308034c27aac7d452c075f939). I have the following manifest applied, before the second run I changed the port number for the `dave` container and the nginx1 container remainds untouched:
[code]

[2018-02-21 06:30] Thorndike commented on #138
The change of the selinux label occurs when the puppet agent is running as a service in the background. If you do a "puppet agent -t" twice, only the touched configuration will be restarted.
Please check the the selinux labels of the generated services with "ls -Z /etc/systemd/system/docker*". If it says "systemd_unit_file_t" the container will be restarted, if it says "container_unit_file_t" the

[2018-02-21 15:01] sigsegv11 opened #167 "Docker registry is never called after first run"
I am encountering issues when docker login is run and a network hiccup occurs (some people love their firewall). The receipt is created either way even though no login has happened. And because of this every pull will fail evens after the network hiccup.

My proposed solution is to perform the login each time but to surpress the output using unless.

For example:

[code]
Pro: we see if the login f

[2018-02-21 17:03] nikdoof commented on #148
@davejrt Yes I guess people are working around the issue, if you're using a local Satellite/Katello instance, mirror or just the CentOS7 repos I guess its not an issue as you're expecting the extras repository to be named something different, but if you're direct feeding off the RHCDN then the repo name is different. Ideally it should be using the out of the box config for RHEL

Here are similar i

[2018-02-22 01:18] OneBadSanta opened #170 "Syntax error with fresh install"
I'm attempting to install a fresh system and receive the following error after running the commands below.

Error: Syntax error at 'Optional'; expected ')' at /etc/puppet/modules/docker/manifests/init.pp:356 on node ubuntu-xenial.example.com

To get to this error, I did the following.

~: vagrant init ubuntu/xenial64
~: vagrant up
~: vagrant ssh

~$: wget http://apt.puppetlabs.com/puppet-release-x

[2018-02-22 04:04] scotty-c commented on #170
@OneBadSanta do you have stdlib installed?
https://forge.puppet.com/puppetlabs/stdlib

If that is installed what version of Puppet are you running?

[2018-02-22 04:21] OneBadSanta commented on #170
@scotty-c Thanks for the quick reply.

Yes. stflib was installed when I installed puppetlabs-docker

/etc/puppet/modules
└─┬ puppetlabs-docker (v1.0.5)
  ├── puppetlabs-apt (v4.5.1)
  ├── puppetlabs-stdlib (v4.24.0)
  └── puppetlabs-translate (v1.0.0)

These are the puppet versions installed

vagrant@ubuntu-xenial:~$ sudo dpkg -l |grep puppet*
ii  puppet . 3.8.5-2ubuntu0.1 . all . configuration ma

[2018-02-22 04:26] scotty-c commented on #170
@OneBadSanta can you try getting Puppet from this repo
`wget https://apt.puppetlabs.com/puppet5-release-xenial.deb && sudo dpkg -i puppet5-release-xenial.deb`

[2018-02-22 04:35] OneBadSanta commented on #170
I just tried your suggestion with a new fresh ubuntu xenial box. It installs the same version modules and has the same error output from the apply command. Here's the packages installed

ii  puppet                           3.8.5-2ubuntu0.1                           all          configuration management system, agent
ii  puppet-common                    3.8.5-2ubuntu0.1                           a

[2018-02-22 05:21] davejrt commented on #170
start from scratch, and run `apt-get -y install puppet-agent` using the the deb that @scotty-c gave you. You're still trying to run puppet 3.8.5 which is why it doesn't work.

[2018-02-22 05:26] OneBadSanta commented on #170
@scotty-c @davejrt

Yes!! That was totally it. The puppet-agent package works properly and installs the newer version. I was running sudo apt install puppet instead. Sorry for wasting yours guys time. I knew it had to be something dumb on my end. Thanks for being awesome :)

[2018-02-22 05:26] #170 closed

[2018-02-22 05:55] davejrt commented on #170
@OneBadSanta no worries, glad we could help

[2018-02-22 06:26] davejrt commented on #138
I can't replicate that behaviour in my test environment. If you have puppet running the background, and you think that's what is changing it, then there should be a log of that event.

With the same manifest, applied, rebooted to activate selinux then puppet applied again I get the following output
[code]

I'd suggest you simplify the setup in a sandbox environment and only apply selinux and docke

[2018-02-23 22:22] rgfdic opened #172 "docker-compose.yml version evaluation issue in Docker/Compose"
I am receiving the error message listed below when using any version inside the docker-compose.yml file because the regex code to be evaluated in "docker/lib/puppet/provider/docker_compose/ruby.rb" is not correct.

**Error: docker-compose.yml]: Could not evaluate: Unsupported docker compose file syntax version "2"!**

The current value is: **when %r{^2(\.0)?$/, /^3(\.[0-2])?$}**
This will not work

[2018-02-24 14:30] thatsk commented on #161
To use the CE packages

[code]
This need to be corrected with
[code]

[2018-02-25 14:25] thatsk opened #173 "docker-compose and docker run file comes from source"
Hello Team,
its great if we have a parameter for running the docker-compose file from source parameter like
docker::composefile { 'docker-compose.yml':
  source => 'puppet://modules/docker-example.yml',
}

Like Logstash::configfile
https://github.com/elastic/puppet-logstash/blob/master/manifests/configfile.pp

[2018-02-25 21:27] #155 closed

[2018-02-25 21:28] #140 closed

[2018-02-25 22:05] davejrt commented on #161
The repo_opt param has been added to the readme in PR #174

[2018-02-25 22:05] #161 closed

[2018-02-25 22:47] davejrt commented on #172
Can you please provide an example of a compose file producing the error?

[2018-02-25 22:50] davejrt commented on #173
@thatsk I'd say this is a nice to have, but given you an already achieve this by simply using a file resource it is not going to be high on our priority list now. We'll be happy to review any PR's that add this functionality though

[2018-02-26 01:02] #173 closed

[2018-02-26 03:31] rgfdic commented on #172
Davejrt,

Here it is:

--- Start of compose file content
version: '2'

services:
  tomcat:
    image: 'bitnami/tomcat:latest'
    ports:
      - '8080:8080'
--- End of compose file content

Puppet Enterprise version 2017.3.2
Puppet Agent version 5.3.3
Official docker module version 1.0.5

[2018-02-28 03:16] davejrt commented on #172
I'm afraid I can't replicate the error, and we actually test this scenario in our acceptance tests.

[https://github.com/puppetlabs/puppetlabs-docker/blob/122a2c7317efdc2d77fa0ab6352de0ebc21126cd/spec/spec_helper_acceptance.rb#L52](url)

[2018-03-02 15:35] sigsegv11 commented on #172
Hi this is already fixed in the master see #157

[2018-03-05 02:10] davejrt commented on #167
Hi @sigsegv11 apologies for the delay in getting back to you.

I think if this is an issue in your environment you can set receipt to false and you'll get the old functionality back without having to change any code. I'm not opposed to this code being changed, if we can get the code to a point where it doesn't create the receipt if the login fails..then that satisfies the requirements.

This would

[2018-03-09 01:38] LongLiveCHIEF commented on #45
@davejrt using the package name `docker` does some odd stuff on official RHEL systems depending on how yum is configured in relationship to official rhn channels/mirrors. RedHat does this to ensure the "patched" version of docker is the default installed.

However, If you configure a docker repo, and make sure rhel-extras is disabled, then you'll get what you expect (upstream docker) instead. You

[2018-03-12 16:57] cjmachado opened #183 "Docker image fails to run when specifying cpuset parameter"
Hi,

I'm using docker version 17.12.1-ce and puppetlabs-docker version 1.0.5. Trying to run a docker image with cpuset parameter set to ['0'] fails with the following error message:

[code]

Running 'docker run --help' shows that there is no --cpuset parameter:

[code]
The correct parameter seems to be 'cpuset-cpus'. Thanks!

[2018-03-12 20:40] #167 closed

[2018-03-13 21:35] davejrt commented on #139
Fixed in PR #180

[2018-03-14 00:31] davejrt commented on #92
This functionality was added in PR #181

[2018-03-14 20:55] davejrt commented on #183
Fixed in PR #187 and #191

[2018-03-14 20:55] #183 closed

[2018-03-14 21:04] #139 closed

[2018-03-14 22:43] vrmerlin opened #192 "1.0.6 release?"
Hi -- is a new release coming pretty soon? In particular, I really need this fix:

https://github.com/puppetlabs/puppetlabs-docker/pull/168

It looks like it's been pushed into the master branch, but a release hasn't been cut since 1.0.5 on Jan 30th.

Thanks,
John

[2018-03-14 22:54] vrmerlin commented on #192
Actually, I've figured out how to grab from the master branch with my Puppetfile, so I can do that for now. But... I'm having a problem with the #168 fix. I'll create a different issue for that...

I'd still be curious to know the timeframe for the 1.0.6 release.

[2018-03-14 23:00] vrmerlin opened #193 "Problem getting RedHat extras repo on workstations"
## What you expected to happen?

I've grabbed the master branch with fix #168. However, when I tried it, it still doesn't work on my system.

## What happened?

I get the error:

`Error: Execution of '/bin/yum -d 0 -e 0 -y --enablerepo=rhel-7-server-extras-rpms install docker-ce' returned 1: Error getting repository data for rhel-7-server-extras-rpms, repository not found
`

## How to reproduce it

[2018-03-15 21:04] davejrt commented on #192
@vrmerlin within the next 24 hours. You can also contact us on the community slack as well.

[2018-03-15 21:19] davejrt commented on #193
@vrmerlin the module does not currently support workstations. You can override `repo_opt` param in your node definition to change the repo name in this case

[2018-03-15 22:05] vrmerlin commented on #193
I guess I'm not sure what you mean by how i would override repo_opt in my node definition. Is there an example someplace?

I'll play around with putting a PR together, but I'm not sure yet how to tell the difference between a workstation and a server (e.g. "facter" doesn't contain the word "workstation" anywhere).

[2018-03-15 22:33] davejrt commented on #192
v.1.1.0 has been released to the forge

[2018-03-15 22:33] #192 closed

[2018-03-15 22:36] davejrt commented on #193
In the [setup](https://github.com/puppetlabs/puppetlabs-docker/blob/master/README.md#setup) portion of the readme it provides an example of how to override the default repo options.

In your case I would suspect that something like this would do the trick

[code]

[2018-03-15 23:41] diegolima opened #197 "docker_volume resource ignoring multiple options"
## What you expected to happen?
Volume is created using multiple options provided as a list

## What happened?
Volume gets created using only the first option

## How to reproduce it?
I currently have this on a hiera file:
[code]
And this on the puppet manifest:
[code]

## Versions:
[code]

## Logs:
[code]

[2018-03-16 00:02] vrmerlin commented on #193
Close! Here's what worked:

    repo_opt => '--enablerepo=rhel-7-workstation-extras-rpms',

Thanks!

[2018-03-16 01:07] diegolima opened #198 "docker::services adding incorrect --registry_mirror parameter when trying to create services"
## What you expected to happen?
Service gets created with provided parameters

## What happened?
The command "docker service create" is adding a --registry_mirror= after the image name, causing incorrect parameters to be sent to the container

## How to reproduce it?
Hiera file:
[code]
Puppet manifest:
[code]

## Anything else we need to know?
The flag --registry_mirror with an empty value seems t

[2018-03-16 02:14] davejrt commented on #198
This is fixed in the 1.1.0 release that went out a few hours ago

[2018-03-16 02:33] davejrt commented on #197
That type/provider expects an array for the options, not a hash.

I've tested successfully with the following hieara entry
[code]

[code]

[2018-03-16 09:25] Jeoffreybauvin opened #203 "Wrong regex (proxy variable in compose.pp)"
## What you expected to happen?

I'm using :

`docker::proxy: 'http://prod.all.httpproxy:3128'`

## What happened?

`Error: Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: Evaluation Error: Error while evaluating a Resource Statement, Evaluation Error: Error while evaluating a Function Call, validate_re(): "http://myproxy:3128" does not match "^((http[s]?)?:\\/\\/

[2018-03-16 18:22] diegolima commented on #197
Hi! Thanks for the input! I think that we could use some better documentation for the volume type, as currently there is once single example that doesn't even have multiple options. Declaring as an array got things working though.

[2018-03-16 18:23] diegolima commented on #198
Upgrading to 1.1.0 worked like a charm. Thanks!

[2018-03-16 18:23] #198 closed

[2018-03-16 23:51] davejrt commented on #197
agreed, ill make sure it’s updated for the next release

[2018-03-18 23:32] #193 closed

[2018-03-19 00:31] davejrt commented on #197
Updated in README PR #204

[2018-03-19 00:31] #197 closed

[2018-03-19 00:32] #92 closed

[2018-03-19 22:48] davejrt commented on #203
The error you've posted, and the configuration refer to two different proxy settings. The first is the proxy for the docker daemon, and the log is from the compose class which only gets used when downloading compose from github.

In any case, with the following config I cannot replicate your error using 1.1.0 of the module.

[code]

[2018-03-20 09:28] davejrt commented on #26
@fgabriel78 we are currently evaluating the windows product in our sandbox environments and hope to start working on this in upcoming sprints.

[2018-03-20 14:54] rmsds commented on #138
I found the same issue (selinux labels flapping causing my containers to be restarted) and I think I found where it comes from.

I think it's due to the behaviour described in this Puppet "bug": [PUP-3187](https://tickets.puppetlabs.com/browse/PUP-3187]).

As I understand it, the puppet agent loads the selinux policies only once, at start time, and will not reload them until restarted. If policies

[2018-03-20 14:57] Thorndike commented on #138
Thank you for that insight! I have for now disabled the agent to get around the problem.

[2018-03-20 15:11] rmsds commented on #138
@Thorndike simply restarting it after the first installation of docker (and the SELINUX policy files) should be enough actually.

[2018-03-20 22:04] davejrt commented on #138
I'm going to close this issue as this is not a docker specific issue. Thanks for your advice @rmsds hopefully others find there way here and it's useful for them

[2018-03-20 22:04] #138 closed

[2018-03-23 12:35] clangaxon opened #206 "Support for multiple compose configs"
Trying to upgrade from the old 5.3 pre-fork version to 1.1.0, we're running into the inability to have multiple docker-compose resources on a single box. In the old version, we hacked around --remove-orphans with options = ['-f', 'second.yml']. In this version, options is now a string and a string with a space doesn't seem to work:

Error: Execution of '/usr/local/bin/docker-compose -f /etc/docker

[2018-03-23 19:03] jwatroba opened #207 "Unknown resource type: 'docker_volumes'"
## What you expected to happen?
docker::volumes to create a volume resource

## What happened?
Unknown resource type: 'docker_volumes'

## How to reproduce it?
Specify a volume in docker::volumes

## Anything else we need to know?
The issue seems to be:
manifests/volumes.pp calls a create_resources on 'docker_volumes', but the actual puppet type is defined as 'docker_volume' - without the 's'.

##

[2018-03-24 13:15] XanderXAJ opened #208 "Support Docker Compose file v2.3"
## What you expected to happen?
Docker Compose stacks using compose file version 2.3 would be brought up.

I'm using Docker Compose 1.19.0 (provisioned via this plugin), which contains support for compose file v2.3.

## What happened?

I receive the following error:

[code]

## How to reproduce it?

Provision any compose v2.3 file, for example:

[code]

Then try to bring the stack up:

[code]

##

[2018-03-26 15:11] slawekgl79 opened #209 "Broken systemd service definition"
## What you expected to happen?
After docker module update (1.0.4 -> 1.1.0) containers can be still managed by puppet

## What happened?
After module update (1.0.4 -> 1.1.0) the container can not be started

## How to reproduce it?
run gitlab in container with following configuration:

  docker::run { 'gitserver':
    image             => 'gitlab/gitlab-ce:1.0.0',
    hostname          => 'gitserv

[2018-03-26 22:15] scotty-c commented on #209
@slawekgl79 I am looking at your issues now. There seems to be a syntax error in `volumes => ['/opt/gitlab/config:/etc/gitlab', '/opt/gitlab/logs:/var/log/gitlab', '/opt/gitlab/data:/var/opt/gitlab'],
env => 'GITLAB_OMNIBUS_CONFIG="external_url 'gitserver.example.com'; `  Could you please double check this for me ?

[2018-03-27 05:58] slawekgl79 commented on #209
H @scotty-c, thank you for your reply. I've checked this and can see my error. The editor just cut off the backslashes before apostrophe, and i haven't noticed it. The volume part is correct (in my opinion)

volumes => ['/opt/gitlab/config:/etc/gitlab', '/opt/gitlab/logs:/var/log/gitlab', '/opt/gitlab/data:/var/opt/gitlab'],

and then comes env:

env               => 'GITLAB_OMNIBUS_CONFIG="extern

[2018-03-27 06:02] scotty-c commented on #209
@slawekgl79 Thanks for updating the issue. I will test this out in the next 24 hours and update the issue.

[2018-03-28 00:14] scotty-c commented on #207
@jwatroba What version of the module are you running?

[2018-03-28 08:02] scotty-c commented on #208
@XanderXAJ This will be fixed in #210 Once it is merged to master and it will be in the next release.

[2018-03-28 08:09] scotty-c commented on #206
@clangaxon because of the new version of stdlib this module uses we have to declare inputs as types ie strings, arrays etc. What is the use case to have multiple compose files on a single compute resource?

[2018-03-28 08:14] scotty-c commented on #172
closing due to fix in #157 and further changes in #210

[2018-03-28 08:14] #172 closed

[2018-03-28 08:15] scotty-c commented on #203
@Jeoffreybauvin Is this issue still valid. I Believe this was fixed in the v1.1.0 release

[2018-03-28 11:35] clangaxon commented on #206
I had the same question, but I inherited this code. :)

The two configs are generated separately, and if each uses a separate docker-compose resource, the --remove-orphans wipes out the first one to run.

If this is a bizarre use case, we can come up with a work around, but it seemed like a useful feature.

Thanks!

[2018-03-28 12:42] clangaxon commented on #206
We worked around this by rearranging the configs into separate directories so that docker-compose would pull a different project name.  Support for -P might be a better way to support this?

Thanks.

[2018-03-28 16:33] slawekgl79 commented on #209
@scotty-c I can not test your version now, but I'm confident it is working as your test was positive. I will check this approach at next change on our gitserver. Thank you for your time. For me the ticket can be closed.

[2018-03-28 16:33] #209 closed

[2018-03-29 10:15] koma85 opened #211 "systemd service runs always the latest/master image"
## What you expected to happen?
when I specify a tag for an Image the systemd service (not checked the other) should append the :tag to the script. This does not happen.
## What happened?
The systemd running script is wrong

## How to reproduce it?
place a tag and look for what images is used.

## Anything else we need to know?
Probably just need a patch on the ERB

## Versions:

[code]

## Logs:

[2018-03-29 21:35] scotty-c commented on #211
@koma85 can you send through a copy of the systemd file that this is happening on

[2018-03-30 08:48] koma85 commented on #211
Calling an image that is called centreon_vmware_connector with tag fix-division-by-0

This is the file

[code]

should be:
[code]

[2018-03-30 08:49] koma85 commented on #211
Didn't wqant to close

[2018-03-30 16:57] jwatroba commented on #207
1.0.5

[2018-04-02 21:31] scotty-c commented on #208
Closing due to #210 being merged to master

[2018-04-02 21:31] #208 closed

[2018-04-02 21:33] scotty-c commented on #207
@jwatroba can you test with 1.10.0 and see if the issue is in that release. I was able to configure a volume without changing the code

[2018-04-03 13:39] trevor-vaughan opened #212 "The selinux_enabled parameter should either accept a String or use the selinux.enabled fact"
## What you expected to happen?

I need to be able to set the `selinux_enabled` parameter via Hiera but Hiera cannot pull `Boolean` values out of facts.

Previously, the module allowed a `String` value for the parameter but recently it was switched to a Boolean which simply won't work when setting data from Hiera.

## What happened?

[code]

## How to reproduce it?

Set `docker::selinux_enabled` v

[2018-04-03 13:48] ccaum commented on #212
Via @trevor-vaughan, an example Hiera config that reproduces the issue:
`docker::selinux_enabled: "%{facts.selinux.enabled}"`

[2018-04-03 16:32] ccaum commented on #212
It looks like facts.selinux.enabled does in fact return a boolean, not a string. However, Hiera doesn't allow interpolation without string quotes? So essentially your Hiera config is casting the boolean to a string, @trevor-vaughan.

What happens if you drop the quotes from the key's value? Does Hiera correctly interpolate?

[2018-04-04 10:48] scotty-c commented on #203
closing due to inactivity

[2018-04-04 10:48] #203 closed

[2018-04-04 10:51] scotty-c commented on #206
@clangaxon Do you have an example docker-compose command (with the -P) that I can look at?
If it makes sense to add as a feature we can look at that.

[2018-04-04 13:12] clangaxon commented on #206
I don't have an actual example since that's now how we solved it - we couldn't pass -p in 'options' because of the same string vs. array limitation. :)

In our case, we had e.g.:

/etc/docker/compose/first.yml
/etc/docker/compose/second.yml

docker-compose considered both to be in a project named 'compose' because of the directory name, and --remove-orphans wiped out the first container when the s

[2018-04-05 15:48] ccaum commented on #212
@trevor-vaughan I filed a Hiera bug (https://tickets.puppetlabs.com/browse/HI-599) to solve the underlying issue. I'm going to close this since it's a bug with Hiera.

[2018-04-05 18:24] ccaum commented on #212
Thanks, @trevor-vaughan. When you say the module previously allowed a string value, are you referring to the garethr/docker module? If so, we didn't necessarily intend for all code to be perfectly portable to this module.

Is it acceptable  wrap the code in a profile and use the any2bool function to convert a `true` string a Boolean? https://forge.puppet.com/puppetlabs/stdlib#any2bool

[2018-04-05 18:35] trevor-vaughan commented on #212
@ccaum I know that I can use a profile to do this. If you would like to update your documentation with an example profile that would work around this issue, that would technically suffice just make for a less than ideal user experience. I would suggest though, that the `selinux_enabled` Boolean should be handled by this module from the native Puppet fact since it *is* a native Puppet fact and need

[2018-04-05 18:56] trevor-vaughan commented on #212
@ccaum Checking the code, 1.0.5 has `Optional[String]` and 1.1.0 has `Optional[Boolean]` https://github.com/puppetlabs/puppetlabs-docker/blob/1.0.5/manifests/init.pp#L399.

This is a breaking change since, previously you could set this value via Hiera without issue from our experience, and *if* you're following Semantic Versioning, would necessitate a 2.0.0 bump.

That said, it looks like, overall

[2018-04-06 12:55] pugnacity opened #213 "Adding new users to docker_users results in restart of the docker daemon"
## What you expected to happen?
Add user to docker group without restarting the docker daemon. There is no need for restarting the daemon.
## What happened?
when adding a user to docker_users the docker daemon will be restarted

## How to reproduce it?
add  user to docker_users array which isn't already in the docker group

## Anything else we need to know?

## Versions:

[code]

## Logs:
[code]

[2018-04-07 10:38] hamon-e opened #215 "Syntax Error"
puppet version: 3.6.7
puppet module:
     puppetlabs-apt (v4.5.1)
     puppetlabs-docker (v1.1.0)
     puppetlabs-stdlib (v4.25.1)
     puppetlabs-translate (v1.0.0)

Hello,
I'm new to puppet so maybe this is a configuration error.

I have this error: ```Apr 07 10:32:47 puppet puppet-master[3111]: Syntax error at 'Optional'; expected ')' at /etc/puppet/modules/docker/manifests/init.pp:367 on node

[2018-04-09 08:02] davejrt commented on #215
Hi @hamon-e we only support >= puppet 4.0 as per the metadata.json

https://github.com/puppetlabs/puppetlabs-docker/blob/bc714f289327524a4feefd073e474288f5d3c362/metadata.json#L47

[2018-04-10 03:51] ccaum commented on #212
Hey @trevor-vaughan, we had a long discussion and investigation into this. The short of it is that the 1.0.5 release was a mistake that we should have dealt with when we realized our validation mistake. I definitely hear you about bumping the major version and I promise we'll be sensitive about interface changes going forward and we'll bump the major the version if a backwards breaking change to t

[2018-04-10 08:01] mlukowicz opened #216 "[Feature] - restart container if reported as unhealthy"
Hello!

Currently docker does not implement restart upon reporting unhealthy (via HEALTHCHECK directive).
It would be nice if we can define container to be restarted if it is misbehaving - meaning running but not doing what we want.

Michał

[2018-04-10 08:44] scotty-c commented on #216
@mlukowicz How are you running the container with Puppet?
Would you be able to attach an example

[2018-04-10 08:45] scotty-c commented on #215
closing due to the requirements in the metadata.json

[2018-04-10 08:45] #215 closed

[2018-04-10 08:48] scotty-c commented on #212
closing and ticket raised with Hiera https://tickets.puppetlabs.com/browse/HI-599

[2018-04-10 08:48] #212 closed

[2018-04-10 08:52] scotty-c commented on #211
@koma85 Can you send through your `docker::run` code, please

[2018-04-10 09:04] mlukowicz commented on #216
I am currently not using swarm.

I simply use docker::run with manage option.

docker::run { 'myapp':
    image               => 'myregistry/myapp',
    ports               => ['5555:5555','6666:6666'],
    expose              => ['5555','6666'],
    restart_service     => true,
    pull_on_start       => true,
  }

[2018-04-11 10:01] mlukowicz commented on #216
PS: currently i am doing that by simply defining cron job that extract this info from docker ps output and restart container if necessary - but it would be nice to have that in module.

[2018-04-13 14:08] thatsk opened #217 "How to use Swarm In Hiera"
node.yaml
---
profiles:
- profile::docker

docker::swarm:
    'cluster_manager':
      init: 'true'
      advertise_addr: '10.174.165.150'
      listen_addr: '10.174.165.150'

My Profile :-
docker.pp

class profile::docker {
  include ::docker
  include ::docker::compose
  include ::docker::run_instance
  include ::docker::registry_auth
}

But when running puppet on node it does not load that. Can

[2018-04-16 20:40] dhollinger opened #218 "docker::registry cannot log into hub.docker.com"
## What you expected to happen?
Login to Docker Hub using provided username and password

## What happened?
[code]

## How to reproduce it?
Execute `docker login -u <username> -p <password> hub.docker.com`

## Versions:

[code]

[2018-04-16 21:13] dhollinger commented on #218
Nevermind

[2018-04-16 21:13] #218 closed

[2018-04-17 07:48] scotty-c commented on #211
@koma85 can you send your code that is creating the container, please

[2018-04-17 08:34] koma85 commented on #211
I've looked into the code and mayne I've found what the problem could be.
declaring the image I don't define a resurce type but only asking for docker to have that image on the server.

[code]

Then asking docker to run the image withotu specifing the tag runs the first image that could find:
[code]
In my case on the first run I didn't specify any tag so the image downloaded was the **:latest**

A

[2018-04-23 16:28] BcTpe4HbIu commented on #207
@scotty-c I'm using 1.1.0 and error is still there.

It is same in master: resource is called [docker_volume](https://github.com/puppetlabs/puppetlabs-docker/blob/453ebc592d0ce6ddc2c3f7ec7b7175d5f951a370/lib/puppet/type/docker_volume.rb#L1), but class tries to create [docker_volumes](https://github.com/puppetlabs/puppetlabs-docker/blob/453ebc592d0ce6ddc2c3f7ec7b7175d5f951a370/manifests/volumes.pp#

[2018-04-25 12:57] nurriz commented on #108
Puppet version: 4.10.11
OS: Ubuntu 16.04.3 LTS

Bring up a stack with this compose:
[code]
docker stack deploy -c docker-compose.yml test
This creates a test_test network that makes the docker_network type fail.
`puppet resource docker_network`
yields

[2018-04-26 12:58] slawekgl79 commented on #209
@scotty-c Your solution is working well. Thank you very much, i was able to change to default module version!

[2018-04-30 23:49] jacobmw commented on #206
We are trying to use two compose files in order to have the 2nd compose file be an override for the first.
https://docs.docker.com/compose/reference/overview/#use--f-to-specify-name-and-path-of-one-or-more-compose-files
Our main compose file is provided by a 3rd party which we would like to leave unmodified to make updates easier, and then use our maintained compose file for the overrides.

[2018-05-06 17:19] pfflaren opened #223 "installation version problem."
Hello there,

I'm not sure if this is a problem. I might be doing it wrong.

I tried to write all the version numbers, I did it with abbreviations, but I keep getting errors. I want to install 3 docker swarm servers. I feel incompetent, very embarrassed.

Do you have a suggestion to me?

[code]

puppet server conf..

[code]

client;

[code]

[2018-05-07 13:16] jeefberkey commented on #223
This module does not support the version of Puppet you are using. You need a version [greater than 4.0](https://github.com/puppetlabs/puppetlabs-docker/blob/master/metadata.json#L47)

[2018-05-08 12:02] shaikatz opened #224 "docker.systemd.erb - undefined method `each' for nil:NilClass at"
## What you expected to happen?
Retrieve catalog sucessfully

## What happened?
Getting 500 while trying to retrieve catalog

## How to reproduce it?
Upgrade from puppetlabs-docker 1.0.2 to 1.1.0

## Versions:

[code]

## Logs:
```Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: Evaluation Error: Error while evaluating a Resource Statement, Evaluation Error: Error

[2018-05-08 12:51] pfflaren commented on #223
I upgraded version, thank you.

[2018-05-08 12:51] #223 closed

[2018-05-08 13:57] #224 closed

[2018-05-09 01:46] nick-george opened #225 "How do I install docker via YUM provider, not RPM?"
Hi,

It appears that your code is forcing the installation of docker via RPM, not YUM. Is that correct? I have the 'docker-engine' package in a YUM repository and am having the following error

Error: /Stage[main]/Docker::Install/Package[docker]/ensure: change from absent to present failed: Execution of '/bin/rpm -i docker-engine' returned 1: error: open of docker-engine failed: No such file or di

[2018-05-09 21:42] luckyraul opened #226 "Docker compose run on every config apply with extends"
## What you expected to happen?
one run only
## What happened?

docker-compose runs every config apply

https://github.com/puppetlabs/puppetlabs-docker/blob/master/lib/puppet/provider/docker_compose/ruby.rb#L23

returns array with 0 containers because image in empty

## How to reproduce it?

[code]

[code]
## Anything else we need to know?

## Versions:

[code]

## Logs:
[code]

[2018-05-12 13:16] jmbelvar81 commented on #225
Hi Nick,

I'm facing a similar problem. If I try use the official package defining the *use_upstream_package_source* to *false* and *version* to my required number *1.13.1* , the errors obtained are the next one:

  - Error: Could not update: Execution of '/usr/bin/yum -d 0 -e 0 -y --enablerepo=rhel-7-server-extras-rpms install docker-engine-1.13.1' returned 1: Error: Nothing to do

 - Error: /Sta

[2018-05-12 14:15] jmbelvar81 commented on #225
Some minutes ago I open a new request to implement the mentioned change in my previous message as the next commit indicates:

  - **commit b9c3cd771d962b797e85deb4ca0cee8d7f92ef45**

Any suggestion is welcome :-)

[2018-05-13 08:10] nick-george commented on #225
Thanks @jmbelvar81, I think your PR would work well for me. I think the dev must have chosen RPM as the provider for a reason, but I can't think why. It will be interesting to see if it is excepted. I'm curious why the very first error message you mention in your comment has YUM and not RPM as the installer.

Cheers,
Nick

[2018-05-13 13:04] pfflaren opened #228 "overlay network problem"
Hello there,

I have a problem and I need your help.

I have 1 swarm cluster. I have 3 worker servers. I install it properly. (I think..) I create one overlay network. I am setting up a sample redis for testing. Container servers are up and running. So it works, there is no problem. However, the overlay I created is not a member of the network.

I can not choose overlay network, so it use bridge n

[2018-05-13 13:34] jmbelvar81 commented on #225
Hi Nick,

Happy to help always if I can. I hope my change could help you to solve your problem finally.

About your question,  I suppose they are using rpm and dpkg because they are assuming package install (.deb or .rpm) in "manual" way (nor package manager: apt / yum). In my case the described change avoided  the error and yum was used because it's the default package manager on my RHEL 7.x , I

[2018-05-13 18:03] vidkun opened #229 "Compose install doesn't appear to use proxy setting"
When defining a `proxy` in class `docker`, it is not populated in the curl command from the `docker::compose` class.

Setting the `proxy` parameter results in the following curl command error:
`'curl -s -S -L https://github.com/docker/compose/releases/download/1.9.0/docker-compose-Linux-x86_64 -o /usr/local/bin/docker-compose-1.9.0' returned 6 instead of one of [0]`

The proxy should be right afte

[2018-05-13 20:46] espala commented on #228
I am curious about the answer to this question.

I’m add "—network nw-name" to the "extra_params" parameter. But it doesn’t work..

[2018-05-14 14:02] LongLiveCHIEF commented on #225
Actually, they are using these because it's legacy code in the repo. When the original module was written docker was not yet available in either official channels, nor via docker channels. Docker only distributed as `.deb` and `.rpm`.  This code has just never been refactored here.

I keep planning to get around to this, and I _did_ write an update for my own fork, but it's only compatible with Pu

[2018-05-14 16:18] JFKnaufAncud opened #230 "Upstream repo location outdated?"
When trying to use puppetlabs-docker with Ubuntu 18.04 Bionic Beaver I stumbled upon an issue:

In Docker's https://get.docker.com/ install script as of 2018-05-14 the repo location changed from apt.dockerproject.org to download.docker.com

Unfortunately I could not found any authoritative announcement from docker about it, just a dangling forum thread https://forums.docker.com/t/17-06-ce-deb-pack

[2018-05-14 21:14] nick-george commented on #225
Thanks for your comment @LongLiveCHIEF. I think I'll go with your second option if @jmbelvar81 PR isn't accepted.

[2018-05-14 21:26] nick-george commented on #225
Hi Jose,

No need to apologise, I am in-awe at how people with non English speaking backgrounds are able to function perfectly well on predominantly English speaking websites. I wish I had taken the time and effort to learn another language, the problem is, there are just too many!

Cheers,
Nick

[2018-05-15 21:10] scotty-c commented on #228
@pfflaren you need to add the `--network` flag to extra params.
[code]
Then if we look at the service
[code]
We can see the service is attached to
[code]
When we look at the network
[code]
You can see that `2nbafrrz47u` is the network `tstnetwork`
So everything is working as per design

[2018-05-15 21:15] scotty-c commented on #229
@vidkun The proxy in the `docker` class is a different variable from the `docker::compose` class. You will need to set that proxy with `$docker::compose::proxy`

[2018-05-15 21:20] scotty-c commented on #226
@luckyraul can we have more information please, like that logs of the catalogue run

[2018-05-15 22:13] tedivm opened #232 "Docker Swarm objects can run before Docker is installed."
## What you expected to happen?

I expect the docker class to run and install the docker package before it runs the swarm definitions.

## What happened?

## How to reproduce it?

[code]

## Versions:

Running `puppet` from the official puppetlabs docker container. The puppet agent machine has a fresh install-

[code]

[code]

## Logs:
[code]

[2018-05-16 03:52] scotty-c commented on #232
@tedivm We would expect that containment is done at the profile level and not in this module

[2018-05-16 03:52] #232 closed

[2018-05-16 04:08] scotty-c commented on #225
merged into master #227

[2018-05-16 04:08] #225 closed

[2018-05-16 05:40] jmbelvar81 commented on #225
Thank you for your answer @LongLiveCHIEF, It's good to know that the reason is "legacy code" in the repo. About your solution , in my case, is not an option because my clients require that only use approved modules and the functionality included in them. If now it's included , of course I will use it immediatly ;-) . It's much more elegant that my "quick fix" :-)

Thanks again for so useful inform

[2018-05-16 06:17] JFKnaufAncud commented on #230
I could reproduce correct working on a freshly created puppet configuration.

I must have fallen into some edge case trap in https://github.com/puppetlabs/puppetlabs-docker/blob/master/manifests/init.pp when it fell back on  $package_location = $docker_package_location instead of  $package_location = $docker_ce_source_location

I will close the ticket.

[2018-05-16 06:17] #230 closed

[2018-05-22 21:56] sknolin opened #234 "test for and enable redhat workstation repository"
## What you expected to happen?
When running on redhat enterprise workstation, use workstation repository, don't assume everything is a server based on $::operatingsystem == 'RedHat'

## What happened?

Error: Execution of '/bin/yum -d 0 -e 0 -y --enablerepo=rhel-7-server-extras-rpms install docker-ce' returned 1: Error getting repository data for rhel-7-server-extras-rpms, repository not found

#

[2018-05-22 21:59] sknolin commented on #234
In params.pp I just did this:

[code]

I know there's a recent ticket that was closed saying to override repo_opt [https://github.com/puppetlabs/puppetlabs-docker/issues/193](193) - but if looking up that it's redhat anyway, why not go all the way to the correct repo so it's correct by default?

[2018-05-23 23:06] davejrt commented on #234
hi @sknolin RedHat Enterprise Workstation is not an officially supported operating system in this module. If it works with the work arounds you've put in for your use case, then we're happy for you to fork the module but we won't be implementing any changes related to support of non server OS

[2018-05-23 23:06] #234 closed

[2018-05-24 00:12] sknolin commented on #234
That’s fine, but it seems like docker’s a pretty common thing on workstations, and redhat server and workstation.. pretty much the same thing. I don’t get the resistance to test for yet another string.

Scott

From: davejrt [mailto:notifications@github.com]
Sent: Wednesday, May 23, 2018 6:06 PM
To: puppetlabs/puppetlabs-docker <puppetlabs-docker@noreply.github.com>
Cc: Scott Nolin <scott.nolin@sse

[2018-05-24 01:26] scotty-c commented on #234
@sknolin The issue is if we had support for RedHat desktops we will need to support all linux desktops.
As usually, Docker is a development tool needs to be changed regularly ie replace the runtime or change the Docker daemon to test. What is the use case with Puppet do this as it centralised management?

[2018-05-24 14:19] sknolin commented on #234
@scotty-c At my organization we use puppet to manage servers, workstations, hpc clusters, cluster filessytems - every linux system. Some of those systems need docker, we manage the docker installation via puppet. That doesn't mean we manage all the containers that might be run on every system, but the docker infrastructure.

We use the docker module as one component in the stack (profile). For exa

[2018-05-28 12:57] thatsk opened #237 "Support for docker_daemon_environment files"
Hello team,

If we want to add some extra configuration in docker daemon. Like if we want to expose Prometheus metrics.

https://docs.docker.com/config/thirdparty/prometheus/

We need to add this parameter. /etc/docker/daemon.json

There is in readme file docker_daemon_environment_files

But not sure how to use in hiera.

Can anyone tell me how to use in hiera.

I want to expose metrics.
{
  "metr

[2018-05-29 12:22] mihaibuzgau commented on #237
hi @thatsk,
the "metrics-addr" and "experimental"  can be added using the "extra_parameters" parameter of the docker class. Below you have an example on how to add this to hiera:

[code]

[2018-05-29 15:01] bsmaldon opened #238 "control swarm node availability"
I would like to set the availability of some manager nodes to "drain" [as suggested in the docker documentation](https://docs.docker.com/engine/swarm/admin_guide/#run-manager-only-nodes) - but looking at this module I can't quite figure out a way to do that. Am I correct in thinking that there's no option for this?

If so, would it be worth putting a parameter together to allow configuring the ava

[2018-05-29 19:24] elijahsgh opened #239 "Local user and idempotent operation with registry logins to same host, different users"
# What happened?
My registry logins are overwritten by logins to registries on the same server.

# What did I expect?
I expected to be able to log in to the same registry with different users.

When using docker::registry to log in to a registry, it appears that it will overwrite a previous login if the server name (and local user) matches. The docker::registry resources run first, which causes so

[2018-05-30 11:43] thatsk commented on #237
@mihaibuzgau thanks

[2018-05-30 11:43] #237 closed

[2018-05-30 11:44] thatsk commented on #237
you need to add in readme also this is very useful.

[2018-05-30 11:46] jethrocarr opened #241 "Puppet downloads new Docker image when running in noop mode"
**Fault**
When running Puppet with `--noop` it seems that this module will still pull Docker images

**Expectation**
`--noop` should be a no-impact mode and should not result in Docker images being pulled.

**Reproducing**
To reproduce, have a manifest that defines a `docker::image`, eg:
[code]

Then run puppet with `---noop`

[2018-05-30 19:39] joernott opened #243 "docker::stack documents resolve_image without actually implementing it"
## What you expected to happen?

[code]
should work.

## What happened?
Despite this parameter being documented in the module, it is not implemented. I am getting the following error:
Error: Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: Evaluation Error: Error while evaluating a Resource Statement, Docker::Stack[test]: has no parameter named 'resolve_image'

##

[2018-05-31 06:27] davejrt commented on #243
A ticket has been raised internally. An update will be made here when it's picked up in our sprint

[2018-05-31 06:51] davejrt commented on #241
I can't replicate your issue. With the following manifest initially I get docker images as you'd expect
[code]

[code]

If I update the manifest to the following then run with noop I get the following error
[code]

[code]

[2018-05-31 06:54] davejrt commented on #239
Hi

As per our template can you please provide manifests and log files to replicate the issue?

[2018-05-31 08:14] davejrt commented on #238
@bsmaldon we'd be happy to take a look at PR to enable this functionality. Feel free to fork the repo and put in a WIP PR and we can keep the discussion open

[2018-05-31 08:15] davejrt commented on #228
Closing as a working solution has been provided

[2018-05-31 08:15] #228 closed

[2018-05-31 08:15] davejrt commented on #229
Closing as a working solution has been provided

[2018-05-31 08:15] #229 closed

[2018-05-31 08:54] davejrt commented on #226
@luckyraul as per our template, it helps us a lot if you provide a manifest file and a working template to work with. Please provide the information requested in the template so we can triage the issue

[2018-05-31 09:26] luckyraul commented on #226
@davejrt updated in the description

[2018-05-31 22:10] tamarintech commented on #239
This should probably be split into two different issues but the code should make it much clearer to follow than log files.

The first issue is the Registry resource being anchored here:
https://github.com/puppetlabs/puppetlabs-docker/blob/master/manifests/init.pp#L625

All Registry resources are anchored before images. If I wanted to pull two different images that required logins from two differen

[2018-06-01 07:27] dploeger opened #245 "FR: Documentation hint: Login into docker hub/store"
Please update the docs to contain information about how to login into the docker hub or store (to pull commercial images, for example). This can easily be done by using a private registry auth and using `https://index.docker.io/v1/` as the server. It took me a while to figure this out.

[2018-06-05 06:55] davejrt commented on #226
What error message are you getting? Can you please post the log files, or the lines of the log files you're concerned about?

[2018-06-05 08:26] luckyraul commented on #226
@davejrt It applies on every run

[2018-06-05 08:46] davejrt commented on #226
Please provide a log file with and without using extends showing the issue

[2018-06-05 09:45] luckyraul commented on #226
@davejrt This is a quite obvious problem. Just look at the code which I pointed out. When there is a new run, It collects all images to hash for each service, and then try to compare them with actually used in containers. There is no image tag in extended service - so it is failed to compare and mark service for reapplying. You don't need any logs to understand that.

[2018-06-05 10:10] davejrt commented on #226
@luckyraul we’re a small team and we don’t have the resource capacity to test every issue. The point of filling out the template is to reduce the effort in triaging these issues and help us, help you. That way we can determine if we need to raise a ticket internally and dedicate a resource to the issue.

[2018-06-05 11:02] luckyraul commented on #226
In this code #{array['image']} is empty
[code]

You should check for extends and try to use parent image. I wrote some not tested code to fix the issue

[code]

[2018-06-05 11:36] luckyraul commented on #226
If I had enough free time I would not create this issue instead of a pull request.
Now I can only point you directly to issue and make a suggestion how to fix that.

[2018-06-19 12:31] MWilsonPuppet commented on #213
issue fixed in #247. Will be available in next release.

[2018-06-19 12:52] #213 closed

[2018-06-19 13:38] MWilsonPuppet commented on #207
@jwatroba I have  tested this with 1.1.0 and am unable to replicate this. The only way I am able to get Error: Could not find a suitable provider for docker_volume is if the docker class has not been decalred/included and as a result docker engine has not been installed.

[code]

[2018-06-26 08:18] rauschbit opened #255 "Problem installing docker version "17.03.2~ce-0~ubuntu-xenial""
## What you expected to happen?
We wanted the following docker-ce version to get installed on the defined nodes for our kubernetes environment.
-> `17.03.2~ce-0~ubuntu-xenial`

The recommended Docker version for Kubernetes v1.10 is 17.03.x
-> https://kubernetes.io/docs/imported/release/notes/#external-dependencies

## What happened?
After applying the module to the corresponding node we got an err

[2018-06-26 12:49] JulienCharge opened #256 "Update puppet forge"
Hello,
The repo on the forge is not up to date. "3 months ago"

Is it possible to update it?

Thanks for your help

I have the following error:

"Error: Found 1 dependency cycle:
2:32:22 p.m.
14:32:22 (Anchor [apt_key 9DC858229FC7DD38854AE2D88D81803C0EBFCD88 present] => Apt :: Key [Add key: 9DC858229FC7DD38854AE2D88D81803C0EBFCD88 from Apt :: Source docker] => Apt :: Setting [list-docker] => File

[2018-06-26 20:09] #256 closed

[2018-06-29 23:48] #255 closed

[2018-07-03 23:00] #216 closed

[2018-07-05 01:02] #245 closed

[2018-07-05 07:33] dploeger opened #259 "Error running in Centos 7 and Debian 8"
## What you expected to happen?

Containers start well on Centos 7 and Debian 8 just like they do on Debian 9, Ubuntu 16.04 and 18.04.

## What happened?
The container isn't started by systemd. This error message pops up in journal:

[code]

Copying and pasting the ExecStart command directly to the terminal works. So I believe, this is some weird escaping issue with systemd on Centos 7 and Debian

[2018-07-05 22:39] #243 closed

[2018-07-05 23:15] davejrt commented on #259
Hi @dploeger I can't replicate that issue.

With the following in a manifest
[code]

I get the following output:
[code]

[2018-07-06 06:56] dploeger commented on #259
@davejrt I really believe, it's somewhat in our parameters. Could you perhaps try out integration test suite to replicate? You only need a username and password for the Docker store and add the following to .kitchen.yml once you cloned [our repository](https://github.com/dodevops/puppet-hanaexpress):

[code]

And then run

[code]

[2018-07-09 10:20] mzhaase commented on #207
I have the same issue. Things like docker::image etc. work fine.

`docker_volume { 'registry':
      ensure => present
 }`

Gives the same Unknown resource type error.

Module Version: 1.1.0

Docker Version: 17.12.0-ce, build c97c6d6

Puppet version: 5.3.3

[2018-07-11 08:49] dploeger commented on #259
Sure, here it is:

[code]

I really believe, it's some sort of weird escaping problem with older versions of systemd, because running the ExecStart line in a terminal works flawlessly.

[2018-07-12 23:18] davejrt commented on #259
We'd look at accepting PR to add in a script instead of using a command to fix edge cases like this, or alternatively you could look at using something like systemd-escape to see if that helps. The culprit is the line there you're specify `net.ipv4.ip_local_port_range`

[2018-07-16 09:53] mihkelader commented on #108
OS: CentOS 7.5
Puppet: 5.5.3
Docker: 18.03.1-ce

Caused by:
`lib/puppet/provider/docker_network/ruby.rb:41
subnet = unless obj['IPAM']['Config'].empty?`

Code assumes that IPAM -> Config is never null

[2018-07-16 10:01] davejrt commented on #108
Thanks for the extra info. Someone will look into it

[2018-07-17 07:08] davejrt commented on #108
I am yet to be able to recreate this problem. Can you show me a docker inspect of the network that's causing the issue?

[2018-07-17 07:57] davejrt commented on #211
Closing as the module already replicates the docker cli and recommended behaviour sufficiently. I'll add a note to the readme making it clear that not specifying an image tag, or using latest is a bad practice

[2018-07-17 07:57] #211 closed

[2018-07-17 08:16] krjensen commented on #108
The important thing to notice here, is that the network causing the problem is created WITHOUT puppet, with the following command: `docker network create test --driver=overlay`

[code]

In our case we are using docker swarm, not sure if that is needed to reproduce the issue.

[2018-07-17 12:11] davejrt commented on #108
I've created a swarm then manually created the network as per your post above and my puppet resource isn't causing any errors.

[code]

[2018-07-17 12:15] krjensen commented on #108
What if you make puppet deploy a compose, with the content @nurriz shared?
[code]

[2018-07-17 12:51] davejrt commented on #108
root@node-01:~# cat /tmp/compose.yaml
version: '3.4'
services:
  web:
    image: nginx:alpine
    networks:
      test:
networks:
  test:
    ipam:
      driver: defaultroot@node-01:~# docker stack deploy -c /tmp/compose.yaml test
Creating network test_test
Creating service test_web
root@node-01:~# docker inspect network test_test
[
    {
        "Name": "test_test",
        "Id": "x4g263wvzhg667c

[2018-07-17 14:25] #259 closed

[2018-07-17 16:32] hostingnuggets opened #280 "Could not upgrade module 'puppetlabs-docker' (v1.0.4 -> latest)"
## What you expected to happen?
Upgrade module from version 1.0.4 to 1.1.0

## What happened?
[code]

## How to reproduce it?
Install Debian 9.4 with default puppetmaster 4.8.2 package from official Debian 9 APT repository, install version 1.0.4 of this module and try to upgrade to 1.1.0.

## Anything else we need to know?
Could it be the puppetlabs-translate module version which is the problem? I

[2018-07-17 17:36] hostingnuggets opened #281 "Why is debian-keyring package required on Debian?"
I was wondering if on Debian the dependency on the debian-keyring package is really required?

I am mostly asking because I have an annoying dependency cycle as you can see below:

[code]

[2018-07-17 17:45] hostingnuggets commented on #281
There does not seem to be any dependencies on that particular package as I could simply purge it:

[code]

[2018-07-18 08:53] davejrt commented on #280
Looks like that is the issue, I'm running a quick test and we should be able to get it fixed quickly.

[2018-07-18 11:44] #280 closed

[2018-07-18 12:03] hostingnuggets commented on #280
@davejrt cheers! I will test the upgrade as soon as the new version of this module is available on forge (hopefully soon).

[2018-07-18 13:57] mihaibuzgau commented on #26
@BarnumD we've just pushed Puppet Docker module 2.0.0 that has support for Docker EE on Windows 2016.

[2018-07-18 14:47] jurim76 opened #287 "deprecated parameter -g for root_dir"
## What you expected to happen?

## What happened?

In templates/update_docker_image.sh.erb -g parameter is deprecated (docker v18 at least), please use --data-root instead
## How to reproduce it?

## Anything else we need to know?

## Versions:

[code]
Paste any relevant logs from a puppet run
[code]

[2018-07-18 15:12] BarnumD commented on #26
Thanks!  Couple of questions:

1. I don't have a subscription for Docker Enterprise.  Is there support for community edition on Windows?
2. Does this support Hyper-V containers or just Windows server containers?

[2018-07-18 18:21] MWilsonPuppet commented on #287
@jurim76 Thanks for raising this. Looks like -g flag was deprecated from version 17.05.0. Ill create a ticket for us to add support for --data-root flag from 17.05.0 and up.

[2018-07-19 07:34] davejrt commented on #26
It's worth noting @BarnumD, docker ee for windows is free. You don't need a subscription key to install the engine. Just pass docker_ee => true to install.

[2018-07-20 01:45] davejrt commented on #281
I'm looking into the history of that line. It was brought over when the repo was forked. Someone in the team will get back to you shortly.

[2018-07-20 06:24] hostingnuggets commented on #281
Thanks @davejrt for your first feedback. I am under the impression that this package is not required (or required anymore).

[2018-07-20 11:37] azbpa opened #289 "Cannot install Docker 17.03.2 on CentOS"
## What you expected to happen?
I want to install Docker 17.03.**2** on CentOS.

## What happened?
[code]

## How to reproduce it?
[code]

## Anything else we need to know?
To me it seems that the following statements switches between different RPM repositories:
https://github.com/puppetlabs/puppetlabs-docker/blob/1.1.0/manifests/init.pp#L543

So for Docker version 17.03.**2** it uses: https://yum

[2018-07-20 12:05] khaefeli opened #290 "RHEL 7: Error getting repository data for rhel-7-server-extras-rpms, repository not found"
## What you expected to happen?
Installing docker-ce ;)

## What happened?
Error: Execution of '/bin/yum -d 0 -e 0 -y --enablerepo=rhel-7-server-extras-rpms install docker-ce' returned 1: Error getting repository data for rhel-7-server-extras-rpms, repository not found
Error: /Stage[main]/Docker::Install/Package[docker]/ensure: change from 'purged' to 'present' failed: Execution of '/bin/yum -d 0

[2018-07-20 20:57] #26 closed

[2018-07-22 11:48] davejrt commented on #226
fixed in #288

[2018-07-22 11:48] #226 closed

[2018-07-22 12:07] davejrt commented on #290
What repos do you have by default. On this version of the OS, this is the default repo. Do GCP have there own internal mirrors for this repo with a different name like AWS? The param exists so you can overwrite it based on different environments such as a cloud provider, not having direct access to the RHEL repos etc.

[2018-07-22 12:17] khaefeli commented on #290
`
[root@redhat]# yum repolist
repo id                                                                                           repo name                                                                                                                status
!choria_release/7Server/x86_64                                                                    Choria Orchestrator Releases

[2018-07-22 19:47] khaefeli opened #293 "Get rid of exec (swarm join, leave) and use type & provider"
this module should get rid of the exec commands for docker swarm (and on other places, if there are some..) because exec is for one time commands and should be considered as [emergency exit.](https://de.slideshare.net/PuppetLabs/puppetconf-2016-moving-from-exec-to-types-and-providers-martin-alfke-example42-gmbh)

I think it would be better to introduce a swarm type & provider to manage the state o

[2018-07-22 21:38] davejrt commented on #293
Are you referring to a situation where you want to remove the node from one swarm into another in the same Puppet run.

[2018-07-22 21:39] davejrt commented on #289
Someone will look into this. If you look at the different repos between the OS we support, they are not evenly split between versions and package names, which is why we drew a line in the sand at 17.05. There appear to be edge cases that we didn't account for at the time, so we may need to change our logic.

Thanks for bringing this to our attention.

[2018-07-23 02:06] glennsarti commented on #26
@mihaibuzgau Is there work in progress to support hyper-v isolation mode?  Particularly given the Server 2016 work to support both Windows and Linux kernels via hyper-v isolation

cc/ @BarnumD

[2018-07-23 03:13] glennsarti opened #294 "Windows support uses dangerous hardcoded defaults"
In commit https://github.com/puppetlabs/puppetlabs-docker/commit/ffe8d3902b600a727af46a799d8a86b42683e657 support was added to make the windows installation idempotent however it uses dangerous hardcoded defaults and is structured in a way that is far more complex that it needs to be.

1. Saving the install file to `'C:/Windows/Temp/install_powershell_provider.ps1'` is dangerous.  That is a hardco

[2018-07-23 07:52] khaefeli commented on #290
sorry for the question: doco = documentation? :)

side note: I think it would be possible to use the [core facts](https://puppet.com/docs/facter/3.9/core_facts.html)
It should resolve all the large cloud providers within the dmi manufacturer fact.
(Or the special EC2, GCE, cloud facts)

`
 if $::operatingsystem == 'RedHat' {
        $repo_opt = $::dmi['manufacturer'] ?{
          'Google' => undef

[2018-07-23 08:12] khaefeli commented on #293
right. additional information:

node has manually joined a swarm (or tries to connect):

[code]
afterwards the puppet agent is running:

[code]

[2018-07-23 10:15] davejrt commented on #290
Yes, documentation :)

Feel free to submit a PR for review and we can discuss whether it satisfies
our requirements and the community as well

Dave

On Mon, 23 Jul 2018 at 5:52 pm, Kevin Häfeli <notifications@github.com>
wrote:

[2018-07-24 07:49] mihaibuzgau commented on #294
Hi @glennsarti,
Thanks for bringing this to our attention.
The items you've described have been fixed in this PR: https://github.com/puppetlabs/puppetlabs-docker/pull/295

[2018-07-24 09:12] #294 closed

[2018-07-24 21:34] hesco opened #296 "Make module play well with puppetlabs-firewall"
This project seeks to port the weave::firewall:: classes and defined types into the docker module.

These features enable puppet driven firewall management without breaking a reliable cross-docker-host overlay network under its use. It was motivated by the resistence of the docker/weave iptables rule sets to playing well with a puppet managed firewall. So essentially this module will replicate wha

[2018-07-25 20:58] #241 closed

[2018-07-27 04:06] davejrt commented on #281
@hostingnuggets I've raised a ticket internally for someone to pick this up before the next release. My gut feeling is the same as yours but we'll just need to ensure we're not going to introduce any breaking changes to other users.

[2018-07-27 06:31] hostingnuggets commented on #281
@davejrt Perfect, cheers :+1:

[2018-07-30 07:29] martinreilent commented on #108
CentOS 7.5
Docker version 18.03.1-ce, build 9ee9f40

When you use "docker stack deploy -c compose.yml stack_name" it creates a default network if some services  DO NOT have network mapping defined in the compose file. That default network is the problem here.

[code]

This is where it gets weird. If you do "docker network inspect" right after stack deploy it does not reproduce.

[code]

But wait a

[2018-07-31 05:42] scotty-c commented on #293
@khaefeli why would you manually join a swarm then have Puppet try to do it? The assumption with the module is that Puppet will handle all the configuration in the Swarm. Which I don't think is unreasonable.

[2018-07-31 07:08] khaefeli commented on #293
@scotty-c examples:
1. I've a running node which is not puppetized yet and I want to migrate it to puppet.
2. the first swarm join failed for whatever reason (then docker tries to connect to the swarm in the background) then we have the same error during the module run and you need to manually run "swarm leave" and trigger puppet again to successful join

we can also compare this to other resource

[2018-07-31 08:29] hostingnuggets commented on #281
It is happening all the time, as soon as I include this module. I am using v4.5.1 of puppetlabs-apt module and I am already aware of the workaround and using it, else I wouldn't be able to use the docker module at all.

[2018-07-31 08:30] davejrt commented on #281
Do you have an environment where you can test the latest version of the puppetlabs-apt module to see if it's still an issue?

[2018-07-31 08:52] scotty-c commented on #293
@khaefeli so why is the `unless` catch-all not picking up the node is part of the swarm?
The implementation here is perfectly fine using a custom parser and a define type.  I am struggling to see how a type and provider would have behaved differently. The type and provider still would have `exist?` that would work just like the `unless`. So i would like to see why the `unless` is not working befor

[2018-07-31 15:09] mihaibuzgau commented on #289
Hi @azbpa
This PR: https://github.com/puppetlabs/puppetlabs-docker/pull/300 allows you to deploy Docker version 17.03.2.ce on CentOS 7.
Please note that this version of docker has been deprecated and to install it you must provide the `--setopt=obsoletes=0` parameter. Example:
[code]

[2018-08-01 18:48] mleklund opened #303 "Undef relationship introduced in run arguments restart change"
## What you expected to happen?
Puppet to run without an Evaluation Error:

## What happened?
Error: Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: Evaluation Error: Error while evaluating a Resource Statement, Evaluation Error: Illegal relationship operand, can not form a relationship with an Undef Value. A Catalog type is required. at /etc/puppetlabs/code/envir

[2018-08-02 04:39] #303 closed

[2018-08-02 14:15] mleklund commented on #239
We have some code that works pretty well for this that I would not mind contributing to the cause, but I am not sure I have the time to work up tests in your testing frameworks.  Let me know if you would like me to create a pull request for it.

[2018-08-02 23:47] #289 closed

[2018-08-02 23:48] #281 closed

[2018-08-03 01:08] davejrt commented on #108
How long are you waiting for this to happen?

I've just testing on the same version of centos and docker, and am unable to replicate the issue.
[code]

[code]

[2018-08-03 06:30] hostingnuggets commented on #281
@davejrt why did this issue get closed so fast? I haven't found time yet to test on a test environment but I will and get back to you.

[2018-08-03 09:36] davejrt commented on #281
We have tested internally and removed the dependency in master. Apologies if the PR didn’t reference the issue correctly and caused some confusion

[2018-08-03 11:50] hostingnuggets commented on #281
@davejrt thank you for your feedback, that's professional! All good from my side if you removed that dependency, I don't need to test either.

[2018-08-06 20:13] hesco commented on #296
RFC: WIP: Feature/gh296 play well with firewall #307
https://github.com/puppetlabs/puppetlabs-docker/pull/307

[2018-08-08 23:49] MWilsonPuppet commented on #287
functionality added in #306

[2018-08-08 23:49] #287 closed

[2018-08-10 17:10] spali opened #309 "[feature] swarm facts"
facts about swarm node status (`docker node ls`).
especially status of the nodes for my use-case where I would need "Manager Status" to execute docker_stack resources only on the leader.
This would allow to not hardcode the stack on a specific node level.
The big advantage, is, if a node goes down or is drained, automatically the next leader would be responsible for deploying the stack's.

[2018-08-14 10:10] duritong opened #310 "Not idempodent when managing /etc/sysconfig/docker-storage"
Follow up from #308 - Although the PR was closed, I was still working on the code to reproduce the issue and dumping it here for completeness:

[code]

Run that is not idempodent:

[code]

[2018-08-14 19:11] dmnfortytwo opened #312 "docker::run fails with upstart and strict variables"
## What you expected to happen?
My manifest to apply

[code]

## What happened?
`Error: Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: Evaluation Error: Error while evaluating a Resource Statement, Evaluation Error: Illegal relationship operand, can not form a relationship with an Undef Value. A Catalog type is required. (file: /etc/puppetlabs/code/environments/p

[2018-08-14 19:13] davejrt commented on #310
As previously discussed on PR #308 project atomic is not supported by this module. Thanks for posting all the same and hopefully forking the module is of some use to you in the future.

[2018-08-14 19:13] #310 closed

[2018-08-14 22:09] davejrt commented on #312
This has been fixed in PR #304 and will be included in the next release, shortly.

[2018-08-14 22:09] #312 closed

[2018-08-16 14:37] blackknight36 opened #313 "container will not start"
There appears to be an issue starting containers as a systemd service.  I've defined a docker::run resource and puppet runs successfully however the container fails to start as shown below.

[code]

I am able to start the container by running the  /usr/local/bin/docker-run-portainer.sh script however the container is killed the next time that puppet runs.

Here is the resource definition.

[code]

[2018-08-17 10:13] witsec opened #314 "docker::run on Windows uses "\" for multiline command instead of "`""
## What you expected to happen?
I was trying out the new Docker 2.0.0 module on Windows Server 2016, see how far I could get. I ended up installing Docker using a Docker EE Chocolatey package rather than make use of `class { 'docker': }`, as that was a pain. But this issue is not about that.

I'm trying to run a container, using the following code in my manifest:

[code]

## What happened?
I get a

[2018-08-19 21:41] davejrt commented on #313
Hi

Can you please provide a little more information by filling out the template?

[2018-08-19 21:43] davejrt commented on #314
@witsec thanks for all the info. I'll raise a bug internally and someone will back to you when it's being worked.

[2018-08-20 12:57] blackknight36 commented on #313
No problem.  I've filled out the template as much as I can.

## What you expected to happen?

Container is started by puppet.

## What happened?

Service fails to start.  systemctl shows an error as follows.

docker-portainer.service - Daemon for portainer
   Loaded: loaded (/etc/systemd/system/docker-portainer.service; enabled; vendor preset: disabled)
   Active: inactive (dead) since Thu 2018-08

[2018-08-20 15:57] mleklund opened #316 "puppet --noop fix has broken ensure=>latest"
## What you expected to happen?
I expect docker::image to pull the latest image and update containers when ensure => 'latest' is set.

## What happened?
Images are not being updated on linux.  This looks to be introduced along with the #297 fix.  The unless argument will always return 0 for latest image, so `/usr/local/bin/update_docker_image.sh` will never be run.

## How to reproduce it?
Set ens

[2018-08-20 16:14] mleklund commented on #316
This seems to be a damned if you do, damned if you don't situation.  Without running the docker pull you cannot know that the latest image has changed.

[2018-08-20 18:45] mccartjm commented on #313
I am running in to the same issue.  I was taking a look at the template files that get created and noticed that in the /etc/systemd/system/whatever.service file that in the
`ExecStartPre=-/usr/bin/docker create \ `
docker tries to create the image, but the --detach flag gets passed in.
Doing a `docker create --help`
[code]

detach is not a valid flag for create, but it is for run.

[2018-08-20 20:20] mccartjm commented on #313
I had this same issue, but adding:
`remove_container_on_start => false,`
and removing:
`detach  => true,`

The reason this worked for me was, by adding the remove_container_on_start  => false, it changed the template for the service file to use the create command instead of the run command.  The create command for docker is one step in the docker run command and does not allow the detached flag.

[2018-08-22 00:12] davejrt commented on #313
On an os using systemd you don't need the `detatch => true` param set. If you remove it the example you've provide will run without any issues.

[2018-08-22 04:08] acurus-puppetmaster commented on #313
Your not even using this forge module it seems your using garethr-docker?

[2018-08-22 15:47] blackknight36 commented on #313
@acurus-puppetmaster Our puppetfile is configured to use the puppetlabs-docker module, I'm not sure why puppet module list is showing garethr-docker.

[2018-08-22 15:48] blackknight36 commented on #313
This is the module list on our master.

[code]

[2018-08-22 20:55] davejrt commented on #313
In any case if you're using systemd, remove the detach. I used your code without any issues are removing this.

[2018-08-23 14:30] blackknight36 commented on #313
@davejrt Thanks, everything is working now.

[2018-08-23 22:26] davejrt commented on #314
Fixed in #317

[2018-08-23 22:26] #314 closed

[2018-08-23 23:42] davejrt commented on #316
I haven't been able to replicate this issue. You can see from my logs below that a newer image with the tag latest was downloaded onto my test environment.

[code]

[code]
root@node-01:~# docker images
REPOSITORY          TAG                 IMAGE ID            CREATED             SIZE
puppet/kubetool     latest              d803d1a398b1        26 minutes ago      249MB
puppet/kubetool     <none>

[2018-08-24 17:15] mleklund commented on #316
Are you running with the patch from #297, i.e. master?  I do not see your code running the unless.

[code]

I do not see how the unless check `docker images -q docker.domain.net/ops/varnish-proxy:latest | grep .` can ever return anything other then 0 if with the `grep .` on there.  Further, I am not sure you can come up with a test to satisfy the unless clause without actually running the `docker

[2018-08-24 23:40] davejrt commented on #316
@mleklund you're correct in that I was running the code from the forge, and not what was in master and I can replicate your issue.

I am not aware of a test that is going to be simple, without having to introduce more params and logic and using things like curl to get information out of the registry. I'll open this up for discussion internally as well but it's possible we may have to consider a br

[2018-08-29 06:41] glennsarti opened #319 "PowerShell invocations incorrectly execute PowerShell profile"
I have some customised scripts in my PowerShell profile to make my life easier, however the puppetlabs-docker module keeps throwing errors during facter runs e.g.

[code]

## What you expected to happen?

NO errors should be reported and the correct docker facts found

## What happened?
Error messages above

## How to reproduce it?
Create a PowerShell profile script with the PSConsoleTheme module,

[2018-08-30 19:26] jeefberkey opened #321 "docker_group set in init.pp is not referenced in docker::run"
https://github.com/puppetlabs/puppetlabs-docker/blob/9fc47a10f180b4b8597983ada39f000f2ff76feb/manifests/run.pp#L138

I have set `docker::docker_group` a `docker` class declaration, but I am unable to use the `docker::run` define because it always checks the params class, which contains the incorrect default. My system uses dockerroot as the docker_group

[2018-08-31 07:18] longnameislong opened #322 "Redeploy stack exec"
## What you expected to happen?
I require that my stacks are redeployed each run when a change is detected. I am using a file resource to deploy my stack file and when that deploys a change I and using a subscribe on my stack class to run the new exec I have added below.

## How to reproduce it?
Deploy a stack and then change the stack file, run puppet with changes and the changes will not be adde

[2018-09-04 08:29] davejrt commented on #321
Can you post an example of you're actually defining the class and where it isn't working?

If you're including this module this is how I'd expect it do be done, and I'd expect this to work.

[code]

[2018-09-04 11:48] davejrt commented on #322
I've created a ticket and added this to our internal backlog

[2018-09-04 11:48] davejrt commented on #293
Closing due to inactivity

[2018-09-04 11:48] #293 closed

[2018-09-04 11:49] davejrt commented on #238
Closing due to inactivity

[2018-09-04 11:49] #238 closed

[2018-09-04 11:51] davejrt commented on #108
closing due to inactivity. Please feel free to reopen when you have more information

[2018-09-04 11:51] #108 closed

[2018-09-04 13:27] jeefberkey commented on #321
I have a profile module with acceptance tests here: https://github.com/simp/pupmod-simp-simp_docker/

In the [default suite](https://github.com/simp/pupmod-simp-simp_docker/tree/master/spec/acceptance/suites/default), I just include my profile and use a bunch of the defines in this module.

The profile module works by building up a hash of default params depending on a few facts, then using a spla

[2018-09-05 21:17] ChetHosey opened #323 "[feature] autorequire volume_group used by storage_vg"
## What you expected to happen?
The module should autorequire a volume group specified for `storage_vg`.

## What happened?

When configuring Docker and creating a volume group, this module does not ensure that the volume group is created first.

In the `--noop` run shown, docker operations are done before the volume group is created.

Adding `require => Volume_group['vgdocker'],` to the `docker`

[2018-09-06 00:08] davejrt commented on #321
Happy to take a PR with passing tests to fix this. We've had one previously that was submitted without tests passing so we weren't able to merge it at that point.

PR #250

[2018-09-06 15:00] esalberg commented on #321
I'm working on the spec tests for #250 currently - the strict variables are being difficult, but I"m making progress.

[2018-09-06 15:08] jeefberkey commented on #321
@esalberg thanks for pointing me there, I didn't look at PRs. I will follow that issue

[2018-09-10 14:33] tbrouhier commented on #108
Hi everyone!

We also encountered this issue with default network created `docker stack deploy ...`. Indeed, the network created has a null IPAM config that this module does not support:
[code]
I don't know (yet) if that is the expected behaviour on the Docker side. Has anyone more information on that?

Nevertheless, whatever the expected behaviour is, I think that this module should have a safer

[2018-09-10 14:39] davejrt commented on #108
What OS/version of docket are you running. I am yet to replicate this
despite significant effort so it would helpful to try and narrow this down

On Tue, 11 Sep 2018 at 12:33 am, tbrouhier <notifications@github.com> wrote:

[2018-09-10 14:50] tbrouhier commented on #108
We are running `Docker version 18.03.0-ce, build 0520e24` in swarm mode
on `Red Hat Enterprise Linux Server release 7.5`

The deploy is done from a Jenkins slave running `Docker version 17.11.0-ce, build 1caf76c`.

The docker-compose file is written in version: '3.3'

[2018-09-19 22:39] duritong opened #334 "Puppet 6: undef values are now nil"
Puppet 6 comes with the following change:

[code]

This breaks lots of functions, as the all do something like:

[code]

[2018-09-26 16:39] MWilsonPuppet commented on #206
This issue has been resolved in #332 .

[2018-09-26 16:39] #206 closed

[2018-09-27 12:43] zlanyi opened #345 "Please push branch: 3.0.0 to Puppetforge"
Hi,

please push the new branch version of 3.0.0 to puppetforge.

Thanks.

regards,
Zoltan

[2018-09-27 14:36] MWilsonPuppet commented on #345
@zlanyi 3.0.0 is now available on the forge. We had to make a  change for spec tests.
Thanks
Mark

[2018-09-27 16:12] #345 closed

[2018-10-02 18:14] dmnfortytwo opened #348 "`latest` image ensure does not refetch img from remote registry"
Puppet does not refetch image even with 'latest' ensure.

[code]

[code]

[code]

[2018-10-03 08:46] davejrt commented on #348
Due to the way the images are pulled, this functionality was removed in favor of the script not being run during a no-op. There is a note about this change in the README under [containers](https://github.com/puppetlabs/puppetlabs-docker/blob/master/README.md#containers) hence we made this a major release as it is a breaking change.

The decision was made internally to go with this, as using the la

[2018-10-04 12:25] CAPSLOCK2000 opened #351 "Missing subnets in docker::network"
## What you expected to happen?
When defining a network with docker::network I expect all subnets to be added, not just the first one.
This works fine for gateways and ip-ranges, but not for the subnets.

## What happened?
I use the following code to define a network that contains various IP-ranges.
Most importantly, it contains both an IPv4-range and an IPv6-range, as is required on multi-stack n

[2018-10-05 06:56] sirhopcount opened #352 "Unable to set unit dependencies other then .service"
Hi,

When setting a (systemd unit) dependency via `depend_services` the `.service` extension is  added via the erb template but there are different types of units (e.g. .sock, .mount, .device, etc).

So it's currently impossible to create a dependency on anything else than a service.

In my case I need to ensure that an EFS volume is mounted before the docker container is started but adding the un

[2018-10-08 04:59] davejrt commented on #352
Are you able to fill out the template? I can't see how this is an issue with the docker module without a bit more information.

[2018-10-08 05:02] davejrt commented on #351
Hi

Thanks for the info and raising this issue. We'll get someone to look into it. Are you able to tell me, how you're running the services on top of the network once it's been defined. For example, have you considered creating the network inside a compose/stack file as a workaround while we get this feature added?

[2018-10-08 06:13] sirhopcount commented on #352
sure no problem.

## What you expected to happen?
I want  to create a dependency on a EFS mount so the container does not start before the mount is present.  To achieve this I add `depend_services` with and dependency on `srv.mount`

[code]

## What happened?

When the unit file is generate the dependencies are defined as following.

[code]

Because `.service` has been appended to `srv.mount` the

[2018-10-09 15:11] CAPSLOCK2000 commented on #351
On 08-10-18 07:02, davejrt wrote:

Hi,
thanks for looking into this.

I worked around it by using additional_flags of docker_network to
specify all options by hand, for example:

 docker_network { 'dmz':
    ensure   => present,
    driver   => 'macvlan',
    options  => 'parent=br1',
    additional_flags => [ "--subnet=192.168.1.0/24",
                          "--gateway=192.168.1.1",

[2018-10-10 00:16] davejrt commented on #352
Thanks for the extra info. We'll get a ticket created internally and address this in an upcoming release.

[2018-10-20 05:24] jstewart612 opened #357 "docker::registry needs to change HOME env var based on local"
## What you expected to happen?

## What happened?

## How to reproduce it?

## Anything else we need to know?

## Versions:

[code]

## Logs:
[code]

[2018-10-20 05:25] #357 closed, assigned to nobody

[2018-10-20 05:29] jstewart612 opened #358 "docker::registry needs to change HOME env var based on local_user param"
## What you expected to happen?
When I changed local user param, the module would sudo to that user, use that user's home directory, and docker login.

## What happened?

It did all of this, except it hard-set HOME env var to /root which caused all execution to fail on obvious permissions errors because it tried to write files to the wrong home directory.

## How to reproduce it?

docker::registry

[2018-10-20 07:06] shamil commented on #358
#353 should fix this, still not merged though

[2018-10-24 17:48] jesquivel-aeropost opened #362 "Wrong flag param --with-registry-auth"
## What you expected to happen?

The following code:

[code]
Executes in the node:
`docker stack deploy --with-registry-auth /tmp/docker-compose.yml'
`
## What happened?

That code executes in the node:
`docker stack deploy --with-registry-auth 'yes' /tmp/docker-compose.yml'
`
The command returns:
[code]
## How to reproduce it?

[code]
## Anything else we need to know?
Make this change to docker_s

[2018-10-24 21:02] AnthonyMastrean opened #363 "How do I uninstall the legacy `docker` package(s) first?"
It's common that older servers or mistaken users have installed the legacy `docker` package, sometimes from the distribution package repository (the package is still available to install). This module does not automatically manage the old package or its [_long_ list of dependencies](https://docs.docker.com/install/linux/docker-ce/centos/#uninstall-old-versions).

I can't use the resource-title/nam

[2018-10-26 12:12] jrevillard commented on #309
I'm very interested into this also :-) !

[2018-10-29 16:59] davejrt commented on #363
Did you install the package with Puppet to begin with? Managing packages and resources not previously configured with this module is beyond the scope, especially if you are using distro packages or some sort of custom configuration. At some point we have to draw a line in the sand on what we do and don't support here.

[2018-10-29 17:41] AnthonyMastrean commented on #363
Yeah, I previously used a basic `package` resource.

[code]

But, the distribution package ends up out-of-date. I want to migrate to the supported Docker package repository and latest package. I thought I would do that via the supported module, which appears to implement the official instructions (which include instructions to remove legacy packages).

Manifests are not migrations, so I can't writ

[2018-10-30 02:54] davejrt commented on #358
Fixed in #353

[2018-10-30 02:54] #358 closed

[2018-11-02 10:58] androidkh opened #369 "set `$socket_group_default = undef` in params.pp to let it be overridable in hiera"
Hi all,

currently there is a parameter $socket_group_default that is used to define $socket_group that in its turn is used in template docker.systemd.erb:

[code]

By default on centos7 it resulted in adding "-G docker" to OPTIONS.
I have existing infrastructure that has no -G specified at all (and thus it's a root by default).
I found no way to override it in hiera. Even when I specified empty s

[2018-11-05 02:29] #362 closed

[2018-11-05 02:29] davejrt commented on #362
Fixed in PR #364

[2018-11-07 23:22] joelgarboden opened #372 "TCP bind example doesn't work"
TCP bind example doesn't work

`Error starting daemon: Error initializing network controller: Error creating default "bridge" network: auxilairy address: (DefaultGatewayIPv4:10.20.0.1) must belong to the master pool: 172.17.0.0/16`

[code]

I removed `tcp://10.0.0.1:4243` from tcp_bind as well.

Likely same issue as upstream documentation. https://github.com/docker/docker.github.io/issues/6891

Ub

[2018-11-08 10:01] #351 closed

[2018-11-10 19:20] Nekototori commented on #334
This also results in complete failure of starting containers that don't specify a health_check_interval due to syntax errors in the shell script it creates from #279

[2018-11-21 10:51] davejrt commented on #372
fixed in PR #374

[2018-11-21 10:51] #372 closed

[2018-11-27 15:02] olivierHa commented on #203
Hello @scotty-c , Could you re-opened it ?

For me this isn't fixed, even in 3.0.1

@davejrt please could you try with a proxy like https://foo.bar.test.com:3128 and not "only" test.com ?

Regards

Olivier

[2018-11-27 22:29] davejrt commented on #348
Closing as we have acknowledged this as a breaking change. We are happy to review PR's that attempt to address the issue without adding too much complexity to the use of the module.

[2018-11-27 22:29] #348 closed

[2018-11-27 22:30] davejrt commented on #316
Closing as we have acknowledged this as a breaking change. We are happy to review PR's that attempt to address the issue without adding too much complexity to the use of the module

[2018-11-27 22:30] #316 closed

[2018-11-27 22:49] davejrt commented on #363
I've looked at the issue you've raised against the docker-ce repo and seen the feedback they've given.

As previously stated, I think the solution in your specific case is to construct another class to tidy up what was previously installed by another module or class.

[2018-11-27 22:49] #363 closed

[2018-11-27 23:33] davejrt commented on #203
@olivierHa see below, still cannot replicate any issue related, I only get a timeout.

[code]

[2018-11-27 23:49] #323 closed

[2018-11-29 12:44] vStone opened #381 "Fix the documentation (puppet strings + readme)"
## What you expected to happen?
Find correct documentation in the readme and puppet strings (docs)

## What happened?
Documentation does not match real situation: some parameters in the README.md have already been renamed, parameters in classes have been renamed/removed but the docs have not been adjusted.

## Side note:
Maybe add 'updating the documentation' to the reviewers check-list

[2018-11-30 07:26] jerith opened #382 "docker_compose resource fails to parse YAML aliases"
## What you expected to happen?

Using a valid docker-compose YAML file containing aliases should work the same as an equivalent YAML file with the aliases pre-expanded.

## What happened?
Puppet run failed with the following errors:
[code]

## How to reproduce it?

Define a docker_compose resource with a compose file similar to one of the examples in https://docs.docker.com/compose/compose-file/#

[2018-12-03 16:41] andytechdad commented on #207
I worked around it by writing my own class, rather than using the docker::volume class

  $volumes               = lookup({'name' => 'docker_volumes',
    'merge' => {'strategy' => 'deep'}})

    create_resources(docker_volume, $volumes)

}

[2018-12-04 06:05] davejrt commented on #381
I'll have someone audit the documentation before the next release.

[2018-12-04 21:57] #352 closed

[2018-12-05 13:45] mojibake-umd commented on #369
This is a dup of #321 in my opinion.
So current situation, broke.

[2018-12-09 23:41] mfergus1 opened #385 "swarm_init generates empty strings for all params"
## What you expected to happen?
Swarm init to pass when optional params are not set. For example, cert_expiry does not have to be assigned and swarm init should succeed.
## What happened?
When the swarm init occurs, cert-expiry has been assigned an empty string.
Error: 'docker swarm init --advertise-addr '10.0.0.1' --cert-expiry '' --dispatcher-heartbeat '' --external-ca '' --listen-addr '10.0.0.1

[2018-12-10 02:38] davejrt commented on #385
Hi @mfergus1 I can only replicate this if using older versions of the module and puppet6. Using the versions you've specified above I don't get that error.

[2018-12-10 03:39] davejrt commented on #382
Thanks for raising this issue, we'll look at getting this fixed in an upcoming release.

[2018-12-11 08:58] 1605200517 opened #388 "Add option to remove --enablerepo=extras on CentOS"
On a CentOS host, Puppet produces with this module the following statement:

`yum install --enablerepo=extras docker`

Which does not work (admittedly result of custom configuration of the host environment due to other dependencies).

`yum install docker`

works though.

Maybe it would be good to make the explicit "enablerepo" optional.

[2018-12-11 09:18] #382 closed

[2018-12-12 15:29] TeunRoefs opened #390 "Impossible to scale docker-compose due to undefined variable 'project'"
## What you expected to happen?
Scaling the docker-compose to `2`
## What happened?
The module wasn't able to scale up the number of containers to the required amount due to an unspecified variable.

The variable was still defined in puppetlabs-docker 1.1.0: https://github.com/puppetlabs/puppetlabs-docker/blob/11dc4a66a86978f22ce057e5027fe20243d26916/lib/puppet/provider/docker_compose/ruby.rb#L81

[2018-12-13 07:40] TeunRoefs commented on #390
Update on the idempotency part, we had to rename our labels to match that of the `exists?` in the provider. It is working now, however, the scaling does not work because of the `project` variable

[2018-12-13 07:43] TeunRoefs commented on #390
Seems the issue has already been fixed, just not a new tag on the module. https://github.com/puppetlabs/puppetlabs-docker/commit/059fe187ebc431bef9b5c3b21bba6b358ac99b8f

Could anyone create a new tag?

[2018-12-14 18:11] amlodzianowski opened #392 "Amazon Linux support - https://download.docker.com/linux/centos/2017/x86_64/stable/repodata/repomd.xml: [Errno 14] HTTPS Error 404 - Not Found"
Are there any plans on introducing support for Amazon Linux? The following is an output from trying to apply the docker class:

`Error: Could not update: Execution of '/usr/bin/yum -d 0 -e 0 -y install docker-ce-17.03.2ce-1.59.amzn1' returned 1: One of the configured repositories failed (Docker),
 and yum doesn't have enough cached data to continue. At this point the only
 safe thing yum can do is

[2018-12-18 07:44] pfflaren opened #394 "About docker services"
Hello

I have a 40+ services. Everything works very well. But when I trigger it with the puppet agent, it is constantly running again. As the number of services is too high, the puppet agent can finish the job in 3-4 minutes.

If there is no change on the service, I want to not need to run that service again.

I've given many tasks to the puppet agent and doing things outside the docker. I have to

[2018-12-18 20:46] #319 closed

[2018-12-18 23:10] davejrt commented on #390
Hi @TeunRoefs apologies for the delay. We are planning a release in the upcoming days that will contain this fix.

[2018-12-19 08:03] TeunRoefs commented on #390
Hi @davejrt no worries, we forked the module for now and made some changes to fix the `exists?` as well. Scaling had some issues because of the `compose_containers.uniq!`. We've fixed it using the following code.

[code]

[2018-12-19 09:59] davejrt commented on #392
We aren't planning on adding official support, you should be able to override the params to point to the correct repos for AWS though.

[2018-12-20 01:00] davejrt commented on #392
You can set the manage repos flag to false, and add the repos using an alternate module and install the package that way. We only provide repo support for the official upstream repos and the OSes listed in the docker documentation.

[2018-12-21 18:07] amlodzianowski commented on #392
Thanks for the reply @davejrt , this makes perfect sense with whats on the matrix. The main reason why I was asking is the fact that Amazon Linux used to be supported (back in the 1.0.2 release) and I was wondering if there are any plans to reintroduce this.

We can definitely manage the package outside this module, so I'll be closing out this issue.

[2018-12-21 18:07] #392 closed

[2018-12-21 21:05] davejrt commented on #392
Hi

At this stage we dont have plans to do this. I believe we released the
module with the logic for aws and other OS but they were not officially
supported in the metadata.json which is what may have caused the confusion
and that was probably an oversight on our part.

Hopefully this solution in combination with the rest of the module will
serve you well enough

On Fri, 21 Dec 2018 at 1:07 pm, am

[2018-12-22 20:07] davejrt commented on #394
Remove the stack attribute from your manifest unless you're actually performing the scale operation. That will speed things up a lot as you're not running the scale command every time puppet runs.

As an side have you considered bundling any of this into docker stacks?

[2018-12-22 20:58] davejrt commented on #388
What version of the module are you using?

[2019-01-07 07:19] mconway opened #402 "Puppet 6.1.0 with puppetlabs-docker 3.1.0 fails to start containers"
## What you expected to happen?
Before today, I was running puppet server v 5.3.0 to manage all of my docker containers on my homelab server. After I upgraded to 6.1.0 containers will not start/create.

## What happened?
Everything was working OK on 5.3.0. I upgraded the puppetserver container to latest (6.1.0) and on the next puppet agent run, all my containers were deleted and would not restart.

[2019-01-08 20:36] davejrt commented on #388
Closing as this is fixed in the later versions of the module.

[2019-01-08 20:36] #388 closed

[2019-01-08 20:37] davejrt commented on #385
Closing due to inactivity. Feel free to reopen with more info.

[2019-01-08 20:37] #385 closed

[2019-01-08 23:37] #402 closed

[2019-01-10 11:00] Jeoffreybauvin commented on #239
Hi there,

We have the same issue. If you use docker::registry with a non root local_user, it is not working. See this : https://github.com/puppetlabs/puppetlabs-docker/commit/d0f55dbdfa3a0d19853471cc1633d85cac4d4c42

It seems to be fixed with this commit in master. Can you make a release to the forge please ?

[2019-01-10 21:10] davejrt commented on #239
We are planning to release very shortly. Apologies with the delays in getting something out there.

[2019-01-14 00:59] venushka commented on #239
There still seems to be assumptions in the code that the non root user can delete files in /root. i.e.

[code]
on line 106 in registry.pp assumes that if the command fails, the file in /root will be deleted. However, the exec on line 142 executes this command as the local_user.

[2019-01-16 21:12] davejrt commented on #394
Closing due to inactivity. Please reopen after trying the suggested solution here if you continue to have issues.

[2019-01-16 21:12] #394 closed

[2019-01-16 21:14] davejrt commented on #321
I'm going to close this due to a lack of inactivity here and on the PR in question. The PR looked fine aside from the feedback that was originally left. Please feel free to reopen the PR addressing the feedback discussed and we'll be happy to look at getting it merged.

[2019-01-16 21:14] #321 closed

[2019-01-18 12:41] autoit4you opened #414 "Can't install latest puppetlabs-docker"
## What you expected to happen?
Installation to succeed.

## What happened?
[code]

## How to reproduce it?
1. Install  the latest puppetlabs-apt
2. Try to install the latest puppetlabs-docker

## Anything else we need to know?
Seems to be that the installation fails because puppetlabs-translate 1.2.0 is installed, but this module requires <= 1.1.0

## Versions:
[code]

## Logs:
N/A

[2019-01-18 14:30] ThomasVdBerge opened #415 "Puppet not restarting docker container upon changes"
## What you expected to happen?
Docker container gets recreated with new env var.

## What happened?
Container did not restart

## How to reproduce it?

`
docker::run { 'ops-neo4j':
    image            => 'neo4j:3.5.1',
    privileged       => true,
    username         => 'root',
    pull_on_start    => true,
    ports            => ['7474:7474', '7687:7687'],
    restart          => 'always',

[2019-01-20 22:04] davejrt commented on #414
the log you have displayed has an error message that says
`Module 'puppetlabs-docker' (v1.0.4) is already installed`

[2019-01-21 00:43] davejrt commented on #415
What version of the module are you running?

I couldn't replicate this with 3.2.0.

[code]

[code]

[2019-01-21 02:08] davejrt commented on #390
Fixed in https://github.com/puppetlabs/puppetlabs-docker/commit/059fe187ebc431bef9b5c3b21bba6b358ac99b8f which was released as part of 3.2.0

[2019-01-21 02:08] #390 closed

[2019-01-21 04:03] davejrt commented on #293
If you are willing to submit a PR that addresses the matter, complete with working tests, we will be happy to review it. But for the moment, this wouldn't be considered a high priority as the current define type works sufficiently for the use cases in which we intend it to be used.

[2019-01-22 12:53] ThomasVdBerge commented on #415
Also running version 3.2.0.

After some investigating I noticed the behavior is only visible when `restart          => 'always',` is present.

[code]

[code]

Since I am running on Unix, I replaced the line to restart_on_unhealthy => true. Now everything is running as it should.

[2019-01-22 12:53] #415 closed

[2019-01-22 14:17] RussellMcOrmond opened #417 "mode of systemd service_provider generating warnings."
This is a very minor feature request.

I'm running Ubuntu 18.04 which uses systemd.  The files which docker:run creates in /etc/systemd/system/ are $mode = '0640' .  This causes the following warning whenever the service is started:

[code]

Changing to $mode = '0644' makes the warnings go away.

[2019-01-22 21:13] mpdude opened #418 "Deploy images from the Amazon AWS ECR registry?"
I would like to deploy docker images stored in the AWS ECR "Elastic Container Registry".

The login process is described at https://docs.aws.amazon.com/AmazonECR/latest/userguide/docker-basics.html#use-ecr. Basically, you need to execute the command `aws ecr get-login --no-include-email` from their CLI tool. This will print the `docker login` command with a password/token that is valid for 12 hour

[2019-01-24 00:18] davejrt commented on #418
The solution I have seen used in the past, was to write another class that logged in to the registry before hand.

Then you have the auth token already on the host before you pull the image with the docker module.

[2019-01-24 06:12] mpdude commented on #418
That means you basically run the login command every time puppet runs?

[2019-01-24 16:17] madelaney opened #419 "Pinned version of puppetlabs/reboot is too strict."
## What you expected to happen?
I'd expect the required version range of `puppetlabs/reboot` to be more forgiving given that the usage is very limiting.

## What happened?
While trying to resolve dependencies in modules, the requirement of `puppetlabs/reboot`, causes an issue.

## How to reproduce it?
Allow for a range vs. hard code version `2.0.0`

## Anything else we need to know?

## Versions:

[2019-01-25 00:02] davejrt commented on #418
I'm not sure if there is a way to check the status of a token with the awscli before hand, but perhaps if there is you could ensure that the login command only runs based on the outcome of a check like that.

Worst case is yes, it runs every time you run puppet.

I'll leave this open incase any one else in the community has any better input, but as I mentioned in the past the solutions I have seen

[2019-01-25 00:03] davejrt commented on #419
We'll do some testing testing and if we don't find any issues, update and push out a small release with the fix.

[2019-01-28 20:33] BarnumD opened #420 "/usr/local/bin/update_docker_image.sh Doesn't handle custom repos very well."
## What you expected to happen?
I have a puppet manifest with the following.  I expect it to manage docker registry.
[code]

## What happened?
The container is 'refreshed' by puppet on every run due to the fact that the image tries to download every time via /usr/local/bin/update_docker_image.sh.

## How to reproduce it?
Use an image which has a custom repository location like docker.io/registry

[2019-01-28 21:50] PierreR commented on #322
I have the same problem. When my docker-compose file changes, there is a notify to trigger a redeploy but nothing happens (even if the logs seems to say otherwise with :
[code]

[2019-01-30 09:36] davejrt commented on #420
I'll test tomorrow and get back to you once I've confirmed we can replicate this.

[2019-02-11 00:59] davejrt commented on #313
Closing, documented detach param

[2019-02-11 00:59] #313 closed

[2019-02-11 18:03] vchepkov opened #422 "docker facts fail if docker is not running"
If docker is installed on a node, but is not running, puppet throughs exceptions during fact collection:

[code]

[code]

[2019-02-12 14:47] baurmatt opened #424 "Apt pin breaks updates"
## What you expected to happen?

[code]

Installs docker and keeps it update after running `apt-get dist-upgrade`.

## What happened?
The module configure a pin of 10 by default which prevents updates from happening:

[code]

## How to reproduce it?
Puppet
[code]

Shell:
[code]
## Anything else we need to know?

## Versions:

[code]

## Logs:
[code]

[2019-02-12 14:47] baurmatt commented on #424
I will provide a PR.

[2019-02-12 15:53] florindragos commented on #424
Hi @baurmatt,

The pin value is actually configurable using the apt_source_pin_level parameter: https://github.com/puppetlabs/puppetlabs-docker/blob/master/manifests/init.pp#L441

Have you tried setting that to 500 ?

[2019-02-12 16:25] baurmatt commented on #424
Hey @florindragos, I'm aware. But a default of `10` is still broken if the repository is configured by default. This is IMHO not what users expect.

[2019-02-12 22:52] #424 closed

[2019-02-13 09:40] #419 closed

[2019-02-13 09:43] davejrt commented on #422
closed by pr #423

[2019-02-13 09:43] #422 closed

[2019-02-14 17:01] BarnumD commented on #420
You're right I can't reproduce it with your code or on the original system.  Perhaps it was an intermittent issue or something our virus scanner was doing.  Thank you for your time.

[2019-02-14 17:01] #420 closed

[2019-02-16 20:04] khaefeli opened #432 "Puppet task docker::swarm_token fails, because of frozen string"
## What you expected to happen?

Puppet Task runs and outputs swarm token.

## What happened?
`choria.tasks/task-error: The task errored with a code 1
   {"_output":""}
   /opt/puppetlabs/mcollective/tasks-cache/d8bd4ce747fc489e9e7b19cac9776cfde572cfde54813968f4362b5375e19601/swarm_token.rb:10:in swarm_token: can't modify frozen String (FrozenError)
	from /opt/puppetlabs/mcollective/tasks-cache/d8

[2019-02-17 22:08] davejrt commented on #432
Hi, we are always happy to take PR's on this module

Would you like to submit a PR with the fix you've identified?

[2019-02-18 08:44] khaefeli commented on #432
@davejrt sure, done

[2019-02-18 11:42] #322 closed

[2019-02-18 12:06] ThomasVdBerge opened #435 "Restart docker container on content change"
Hey Guys,

What is the correct way in this puppet module to restart the docker container when another resource changes?

For example:

[code]

How can I make sure the docker container restarts when the content of the file test.txt changes?

[2019-02-18 23:10] davejrt commented on #435
You can use a notify attribute with your docker::run as the value ie:

[code]

[2019-02-18 23:11] davejrt commented on #432
fixed in #434

[2019-02-18 23:11] #432 closed

[2019-02-19 10:45] #435 closed

[2019-02-19 12:35] tek0011 opened #438 "Add CE Edition Install Support for Windows"
** Is this a FEATURE REQUEST? **
Yes.

## What you expected to happen?
`include docker` should install docker on Windows.  CE Edition or latest Docker Enterprise.

## What happened?

## Anything else we need to know?
Documentation makes it seem like this module works on Windows, installation should be supported.  Support via chocolatey?

[2019-02-20 10:52] davejrt commented on #438
Hi @tek0011

With regards to CE on Windows, that is not on the roadmap for this module. The intention of this module is to track the upstream repos, which is to support production ready version of the engine, not development tools such as Docker Desktop for Mac or Windows.

With regards to your second point, will will discuss internally the logic around `include docker` and the usability of the mo

[2019-02-20 19:36] esalberg commented on #369
Following up on this - we used to have the same issue, but with the updated socket management for RHEL in Docker 18.09.1, setting socket_group to undef wouldn't work anyway.  We need to set it explicitly to root and add a /etc/systemd/system/docker.socket.d/socket-overrides.conf file to override the new default in /usr/lib/systemd/system/docker.socket (SocketGroup=docker).  It does mean that you'l

[2019-02-21 00:00] esalberg opened #439 "Need to manage docker.socket on RHEL (also socket overrides)"
## What you expected to happen?

## What happened?
As of Docker-ce 18.09.1, the systemd docker.socket is required on RHEL.  This file has a default SocketGroup of docker (even though the docker group is optional per the Docker documentation).  We need a way to override the SocketGroup setting (in /usr/lib/systemd/system/docker.socket).

## How to reproduce it?
On RHEL with Docker 18.09.1+, run "gr

[2019-02-22 12:49] androidkh commented on #369
Idea was to allow "not to specify" -G option at all  as docker can use default value when no -G flag.

[2019-02-22 15:35] esalberg commented on #369
In my PR, that is done by setting:

docker::socket_group: false

Since all the templates have <% if @socket_group %> wrappers around the socket_group related entries (including the -G option), it works fine in my testing.

[2019-02-25 04:12] davejrt commented on #439
closed by #441

[2019-02-25 04:12] #439 closed

[2019-02-25 04:12] davejrt commented on #369
closed by #441

[2019-02-25 04:12] #369 closed

[2019-02-25 04:24] davejrt commented on #414
Closing as stale. Feel free to re open the issue if you have problems after remediating the issue of the other version of the module being installed

[2019-02-25 04:24] #414 closed

[2019-02-25 08:26] davejrt commented on #417
Closed in #440

[2019-02-25 08:26] #417 closed

[2019-02-27 06:44] olavmrk opened #444 "Dependency version ranges too strict"
The version requirements for the dependencies of this module are somewhat strict, which makes it hard to upgrade this module beyond version 3.1.0 (where it was missing upper limits of versions).

This module has the following dependencies:

* [puppetlabs/stdlib](https://forge.puppet.com/puppetlabs/stdlib): >= 4.24.0 <= 5.1.0
* [puppetlabs/apt](https://forge.puppet.com/puppetlabs/apt): >= 4.4.1 <=

[2019-02-28 14:27] brightdroid opened #445 "net should allow more than one network"
## What you expected to happen?

I'd like to pass an array of networks via the `net` param to docker::run.

A use case is traefik as a frontend for e.g. kibana and a internal network to elasticsearch.

## Versions:
$ puppet --version
[code]

$ docker version
[code]

$ facter os
[code]

[2019-03-01 20:12] brightdroid commented on #445
This may help to illustrate what I'd like https://success.docker.com/article/multiple-docker-networks

[2019-03-02 10:06] jacksgt commented on #445
I think you will currently have to do this via the `extra_params` option, though I agree with you that having a native parameter for this would be great (for docker services, too).

[2019-03-05 01:20] davejrt commented on #444
Thanks for the feedback. We will address this shortly and get a release out this week.

[2019-03-07 10:15] jacksgt opened #449 "More Puppet-like deployment of Docker Services"
Hello,

after having used the Docker Services interface of this module, I feel like it's not really designed the way Puppet is supposed to be used.

Take this example from the Readme:
[code]

But then when you want to change any of the service parameters (like image, replicas, mount points, published ports...), you have to create an additional Puppet resource:

[code]

Now while Docker happily app

[2019-03-08 12:41] mattstrain commented on #322
So we were having the same issue as this but if I update to the new version and use this new type I get a notice message on every puppet run?
``
Notice: /Stage[main]/xxx_docker::Service::Stack[v52]/Docker_stack[v52]/ensure: created
``

[2019-03-08 13:25] davejrt commented on #322
@mattstrain can you please provide a manifest and a more complete log file?

[2019-03-12 12:49] davejrt commented on #444
fixed in #453

[2019-03-12 12:49] #444 closed

[2019-03-12 13:07] #445 closed

[2019-03-12 21:18] lnemsick-simp commented on #444
When will this be released?

[2019-03-13 02:40] AMoghrabi opened #455 "Docker EE won't install on Windows Server 2019"
## What you expected to happen?
I expect Docker to install when applying docker-ee using this module on Windows Server 2019

## What happened?

[code]

## How to reproduce it?

* Create a manifest with the following content:

[code]

* Run `docker apply ./your_manifest.pp`.

## Anything else we need to know?
* The only modules I have installed are the dependencies that come with this module.

## V

[2019-03-13 11:57] davejrt commented on #455
Remove the include docker statement in your manifest. This is redundant when using windows, applying the class is the only statement required.

[2019-03-13 14:01] electrofelix commented on #316
@davejrt Is there a reason that the `noop` metaparameter cannot be used in this case?

[2019-03-13 14:37] davejrt commented on #316
`noop` can be used with the module now, without any execs being runs. Previously if you ran with `noop` would still check the registry for later images and pull them if they were available...which as was agreed in the previous issue, not a noop operation.

[2019-03-13 14:54] electrofelix commented on #316
@davejrt I meant if the metaparameter `noop => false` was set on the old exec resource, it would skipped during a `noop` run while marking the resource as having been refreshed and logging that any subscribed resources would have received a refresh event, while still resulting in the resource being executed as expected for a real run.

See https://puppet.com/docs/puppet/6.0/metaparameter.html#noop

[2019-03-13 14:57] davejrt commented on #316
I'm not sure if this was tested and didn't work, but we will be open to reviewing any PR's that address the issue.

[2019-03-13 15:32] electrofelix commented on #316
@davejrt good to know, I'll have a look at putting something together if someone else doesn't get to it first, just wanted to check there wasn't an obvious reason it wasn't used.

[2019-03-13 15:44] AMoghrabi commented on #455
That worked, thanks @davejrt!

[2019-03-13 15:44] #455 closed

[2019-03-13 16:05] elexpander opened #456 "Incorrect StarLimit systemd unit options"
The option `StartLimitInterval` does not exist, it should be named `StartLimitIntervalSec`.

Also these 2 options should be under the `Unit` section and not the `Service` section.

Current options:
[code]

Expected options:
[code]

Systemd doc: https://www.freedesktop.org/software/systemd/man/systemd.unit.html#StartLimitIntervalSec=interval

Code ref:
https://github.com/puppetlabs/puppetlabs-docke

[2019-03-13 16:20] AMoghrabi commented on #444
Also looking for the release, having issues installing it.

[2019-03-13 18:55] AMoghrabi opened #457 "Uninstalling Docker on Windows Injects Multiple Environment Variables"
## What you expected to happen?

When uninstalling docker-ee on Microsoft Windows 2019, I expect it to remove the docker environment variable only from `Path`.

## What happened?
The module removes the docker environment variable in addition to adding several new environment variables which messes up the Puppet CLI tool.

![Capture](https://user-images.githubusercontent.com/8815903/54306362-6f7e67

[2019-03-13 21:59] AMoghrabi commented on #457
This also happens when upgrading Docker. For example, I specify I want to version lock to `18.09.2`. Puppet installs the correct version and only adds one environment variable for Docker.

I then specify the version as `18.09.3`. The correct version of Docker is installed but it adds several junk environment variables.

[2019-03-14 03:16] AMoghrabi commented on #457
I think I'll have some time tomorrow to look into the code. I'll open a PR if I figure it out! 😄

[2019-03-14 13:49] davejrt commented on #444
3.3.0 has been released

[2019-03-14 13:50] lnemsick-simp commented on #444
Thank you for releasing 3.5.0 so quickly

[2019-03-14 22:40] AMoghrabi commented on #457
Hey @davejrt , It turns out this is a bug with the Microsoft Provider Module. I've opened a PR on the module's Github page: https://github.com/OneGet/MicrosoftDockerProvider/pull/58

Thanks for your time.

[2019-03-15 13:28] davejrt commented on #457
No worries, we'll leave this open as a guide for anyone coming up with the same issue.

[2019-03-15 13:31] davejrt commented on #456
Thanks for the information. As always we're open to community PR's, otherwise myself or someone will get this fixed in the next few days.

[2019-03-15 13:58] davejrt commented on #449
I think this would probably be better done in a type/provider. How do see the puppet code being compared to the output of docker inspect? Genuine question, as I am puzzling trying to work out the best way we'd do it.

[2019-03-15 15:14] jacksgt commented on #449
I was not trying to say this functionality has to be implemented in Puppet code (sorry for being a bit unclear there), but rather that the module itself should have such a 'type'.

Did you get my general idea (minus the implementation details) or is it still unclear?

[2019-03-15 15:17] davejrt commented on #449
Yep, I agree with the idea...I was just interested to know if you had any initial thoughts about implementation, and more so opening the door for a discussion with the community to see if there are some ideas out there on how to achieve this cleanly.

[2019-03-19 14:39] timdeluxe opened #461 "docker-run.erb - undefined method `+' for nil:NilClass"
## What you expected to happen?
clean puppet run

## What happened?
[code]

## How to reproduce it?
Install module:
`puppet module install puppetlabs-docker`
Create file helloworld.pp:
[code]
Run
`puppet apply -v helloworld.pp`

## Anything else we need to know?
Version 3.3.0 of the module works

## Versions:

[code]

## Logs:
See "What happened"

[2019-03-20 08:19] jacksgt commented on #449
It's good to hear that there is an interest from Puppetlabs in implementing this.

I think the `docker_stack` type is a good first start and provides a nice interface between Puppet and Docker Swarm. A similar thing for individual Swarm services would be great.

[2019-03-20 09:46] martialblog commented on #461
Hi, I managed to recreate that issue.

[code]

I'm trying to pinpoint what's causing it.

[2019-03-20 10:00] martialblog commented on #461
I think this change is to blame: https://github.com/puppetlabs/puppetlabs-docker/pull/431

https://github.com/puppetlabs/puppetlabs-docker/pull/431/files#diff-2ce9d112c9edac69817e7f77c5d2522c

According to the changes, the run.pp now requires the service_name and docker_group as parameters:
[code]

However, the class has no such parameters. Do I understand that correct: The main class *always* has

[2019-03-20 10:50] davejrt commented on #461
That is correct that the main class always needs to be included in the manifest. We can update the README but I'm interested to know why you wouldn't be including it in the manifest. Are you installing docker and managing other aspects of the installation elsewhere?

[2019-03-20 11:09] martialblog commented on #461
@davejrt I see. Makes sense, since you "probably" want Docker installed on the machine that run a container :whale:

We encountered this issue in our spec tests. Since we're managing the main docker class separatly from the actual Images/Containers. So both have their own Profile, but obviously both are included.

When reading the README now it kinda makes sence... First you Setup, then you Usage.

[2019-03-20 11:21] davejrt commented on #461
We'll ensure this is explicit in the next release of the module

[2019-03-20 11:49] martialblog commented on #461
@davejrt Awesome. Thanks!

[2019-03-20 17:01] AMoghrabi commented on #457
The DockerProvider PR was merged in and it will be released later today to the PSGallery. As far as I can tell we don't need to make any code changes to this module.

I'll close this and reopen if there are further issues after the new DockerProvider is released.

Thanks again.

[2019-03-20 17:01] #457 closed

[2019-03-20 17:01] davejrt commented on #457
Thanks for the update

[2019-03-22 08:30] tarjei opened #463 "Create systemd service for docker_compose"
When I create a service using docker_compose, I also want it to be defined as a systemd unit.

## What happened?
I must create the unit separately based on this:
https://github.com/docker/compose/issues/4266

[2019-03-22 17:45] hugotanure opened #464 "docker::image is running images instead of just pull"
## What you expected to happen?

docker::image just pull images.

## What happened?
docker::image is pulling the images but also running the images.

## How to reproduce it?
[code]

## Anything else we need to know?
https://github.com/puppetlabs/puppetlabs-docker/blob/master/manifests/image.pp#L156
[code]

## Versions:

[code]

[2019-04-01 17:05] electrofelix opened #467 "Tests require docker binary to be installed to succeed"
## What you expected to happen?

Running tests inside of a docker container for ruby 2.4.4 would pass, or fail immediately stating that a dependency required was missing.

## What happened?
Test involving the `docker_network` provider failed
[code]
It appears that the tests have a dependency on `docker` being installed even though the test itself appears to attempt to use stubs to remove that depe

[2019-04-03 12:23] mojibake-umd commented on #461
Experiencing same issue, not sure how to work around....
We have main docker class declared in a puppet module to setup our application.
We also have a separate puppet module to setup AWS ECS Agent, it is this module that has issues as the puppet module only declares the run class. (Performs other things related to install ECS agent too)
Like the OP, experienced the same error in our module for EC

[2019-04-03 12:29] martialblog commented on #461
@mojibake-umd Did you include the puppetlabs-docker module? Or just the docker::run?

Cause you gotta have `include docker` somewhere. This is also where you can setup the group

https://github.com/puppetlabs/puppetlabs-docker#docker_group

[2019-04-03 12:45] mojibake-umd commented on #461
@martialblog Thank you for the suggestion.
I included docker in the manifest which declared docker::run just now while setting in heira
[code]
As mentioned in previous comment, main docker itself is declared and setup for RHEL7 in another puppet module for our application. (Works thanks to #441 )

Unfortunately
```include '::docker'```
plus
Hiera
[code]
does not work.

[2019-04-04 07:53] martialblog commented on #461
@mojibake-umd Hm, I don't think you experiencing the same issue then. What's the error you're getting?

[2019-04-05 08:25] florindragos commented on #464
Closing this since it has been fixed in #465

[2019-04-05 08:25] #464 closed

[2019-04-05 12:15] brightdroid opened #469 "restart unless condition missmatches"
## What you expected to happen?

docker::run should start the container even if a image or network with the same name exists

## What happened?

container doesn't start when image or network with same name exists.

## How to reproduce it?

[code]

## Anything else we need to know?

## Versions:
[code]

[2019-04-08 21:43] brightdroid commented on #469
### Patch
[code]

[2019-04-08 21:53] brightdroid opened #472 "multiple networks and restart param"
## What you expected to happen?

## What happened?
A container with param "restart" given does not allow any network to be specified.

## How to reproduce it?

[code]

## Anything else we need to know?

The problem should be solved like in `templates/docker-run-start.erb` via `docker network connect`

## Versions:
[code]

[2019-04-10 17:23] mojibake-umd commented on #461
@martialblog Insert Homer "Doh!" image here....
I just realized I was trying to set docker::group_name in hiera, and not docker::docker_group.
All is well after ```include docker``` and
[code]

[2019-04-15 08:29] glennsarti opened #474 "Documentation is misleading about Windows Support."
The metadata.json lists Windows as a supported Operating System, however;

* The README says Windows is not supported in the Limitations section ([link](https://github.com/puppetlabs/puppetlabs-docker#limitations))

* The README states the OS limitation of Enterprise Edition only in the Description but not in the OS limitations.

This is confusing and misleading for people trying figure out if thi

[2019-04-15 12:29] MassimoSporchia commented on #474
Definitely.
Can you also specify if the docker::run resource works seamlessly between CE and EE?

[2019-04-16 15:02] #474 closed

[2019-04-18 09:59] Dan33l opened #476 "question : docker service does it take care of /etc/default/docker on debian like OSes ?"
## What you expected to happen?`

I am trying to enable ipv6 in docker contrainer with `ipv6 => true`, by default to `false`.

## What happened?

With `ipv6 => false` like `include docker`. It works.
By adding only `ipv6 => true`, the docker daemon does not start with the follwoing error message

## How to reproduce it?

[code]

## Anything else we need to know?

The puppet module modify the file

[2019-04-18 11:12] Dan33l commented on #476
The systemd unit does not use `EnvironmentFile=-/etc/default/docker` in the `[Service]` section.

[2019-04-18 14:21] Dan33l commented on #476
It looks that it is mandatory to fix an ipv6 address:
https://github.com/moby/moby/issues/36954

[2019-05-01 17:56] RussellMcOrmond commented on #197
I'm wondering if a non-hieara example can be given, or tested?

I've not been able to get volume to work.

[code]

is giving me:

[code]

[2019-05-06 11:01] f4rx opened #479 "Question: the relationship between docker::image and docker::run"
I have manifest:

[code]

Expectation: to update/restart a running container on getting a new image.
In the currently: restarting a container on every puppet agent execution.

[code]
Cause - the 'exec', that running on every execution:
[code]
The changes were made in this issue https://github.com/puppetlabs/puppetlabs-docker/issues/316

[2019-05-06 12:07] f4rx commented on #479
To prevent starting 'Exec' and downloading new image with --noop, maybe use something like this:
[code]

[2019-05-06 14:29] traylenator opened #481 "Allow priority of yum repo to be specified"
the upstream docker repo provides docker-ce and containerd.io, which are newer than those found in epel.
We try to exclude the epel containerd, but this results in the following error:
[code]
Adding a priority lower than epel works.
[code]

But this would be good as a parameter to the main class.

[2019-05-08 14:33] blackknight36 commented on #461
Even added an 'include docker' statement does not fix this.  Puppet now fails with an error as shown below.

[code]
Reinstalling the module on our master does not help, the template file does not exist.

[code]

Puppetfile is configured to pull the 3.5.0 release.  Is there a way to resolve this other than pulling from the master branch?

[2019-05-08 15:05] martialblog commented on #461
@blackknight36 I don't think this is the same issue, this had nothing to do with templates. [Stackoverflow](https://stackoverflow.com/questions/tagged/puppet) might be a better place to ask for help in this case.

However, I would try to remove and redeploy the module using r10k (or whatever you use for deployment), since the module doesn't seem to be deployed properly.

[2019-05-08 17:33] blackknight36 commented on #461
@martialblog The issues are related, I was getting the undefined method error until I added the "include docker" statement to my manifest.  After that the template error shows up due to a missing template file in the module.  I was able to resolve this by setting my puppetfile to pull from *master* but using 3.5.0 results in template errors.

[2019-05-08 19:16] davejrt commented on #461
@blackknight36 can you please post a full manifest? This module is tested on RHEL with include docker as part of nightly acceptance testing. and I have just tested on another rhel instance without issue.

[2019-05-16 14:05] catsem opened #485 "Exec auth runs with every catalog apply"
## What you expected to happen?
When private docker registry configured, Exec auth should run once not with every catalog apply.

## What happened?

``
root@moon:~# puppet agent -t
Info: Using configured environment 'production'
Info: Retrieving pluginfacts
Info: Retrieving plugin
Info: Loading facts
Info: Caching catalog for moon.milkyway
Info: Applying configuration version '1558011091'
Notice:

[2019-05-21 09:07] hboetes commented on #461
No time for a pull request, but I just ran into the same error:
[code]

[2019-05-21 15:00] blackknight36 commented on #461
@davejrt Posting a full manifest would be difficult due to the number of included classes we use but I am able to reproduce this error by adding the following line to our puppetfile.

[code]

This results in a copy of the docker module which is missing the service-overrides-rhel.conf.erb file.  Here's a listing of all templates that exist on the master.

[code]

As you can see there is no template

[2019-05-24 11:17] bodgit opened #488 "docker::system_user can run before docker is installed"
## What you expected to happen?
Manifest to apply cleanly

## What happened?
Puppet run fails when `docker::system_user` fires before the main `docker` class due to the `docker` group not existing before the `usermod` exec fires.

## How to reproduce it?
Using roles/profiles, a simplified `profile::docker` class:
[code]
A `profile::docker::sensu` class:
[code]
then in some other class:
[code]

##

[2019-05-30 18:36] timhughes opened #491 "The docker-compose command is inserting `options` at the wrong list index."
## What you expected to happen?

Bug introduced with this commit  https://github.com/puppetlabs/puppetlabs-docker/commit/a67a2f70e6e97439f692a0798f0522d86138a13d#diff-bac6fb27ab57e64f8b23753eae68542eR67

Basically I think the `insert(2,` should be `insert(1,` or  `insert(3,`.  there are several more like it throughout that file.

## What happened?
[code]

## How to reproduce it?
[code]
## Anything